{% extends 'layout.html.twig' %}

{% block content %}
    <div class="right_col" role="main">
        <div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>
                                {{ conversation }}
                            </h2>
                            <ul class="nav navbar-rul c panel_toolbox">
                                <li>
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="chat-discussion">

                                            {% if conversationMessages is not empty %}
                                                {% for message in conversationMessages %}

                                                    {% set conversationMessageUnreadClass = null %}
                                                    {% if conversation_status.isConversationMessageRead(message, app_user(), false) == false %}
                                                        {% set conversationMessageUnreadClass = 'conversation-message-unread' %}
                                                    {% endif %}

                                                    <div class="{% if message.owner.id == app_user().id %} chat-message-left {% else %} chat-message-right {% endif %}">
                                                        <img class="message-avatar"
                                                             src="{{ message.owner | profile_image }}"
                                                             alt="{{ message.owner }}">
                                                        <div class="{{ conversationMessageUnreadClass }} message">
                                                            <a class="message-author" href="#">
                                                                {{ message.owner }}
                                                            </a>
                                                            <span class="message-date">
                                                                {{ message.createdAt | date }}

                                                                {% if message.isOwner(app_user()) == false %}
                                                                    {% include 'other/common_part/button/js-switch.html.twig' with {
                                                                        'checked': conversationMessageUnreadClass is empty,
                                                                        'class': 'small',
                                                                        'dataTargetType': 'complete',
                                                                        'dataTargetUrl': path('conversation_message_change_read_status_ajax', { 'id': message.id | hashids_encode })
                                                                    } %}
                                                                {% endif %}
                                                            </span>
                                                            <span class="message-content">
                                                                {{ message.content | away_to | raw }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% else %}
                                                {{ 'app.text.no_result' | trans }}
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
