<div class="col-md-12 col-sm-12 col-xs-12">
	<div class="x_content">
		{{ form_start(form, { 'action': path('profile_change_password'), 'attr': { 'class': 'form-horizontal form-label-left' } }) }}
		<div class="form-group">
			{{ form_label(form.current_password, 'app.form.label.current_password', {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
			<div class="col-md-6 col-sm-6 col-xs-12">
				{{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
			</div>

			{% if not form.current_password.vars.valid %}
				<div class="col-md-3 col-sm-3 col-xs-12 red">
					{{ form_errors(form.current_password) }}
				</div>
			{% endif %}
		</div>
		<div class="form-group">
			{{ form_label(form.plainPassword.first, 'app.form.label.new_password', {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
			<div class="col-md-6 col-sm-6 col-xs-12">
				{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
			</div>

			{% if not form.plainPassword.first.vars.valid %}
				<div class="col-md-3 col-sm-3 col-xs-12 red">
					{{ form_errors(form.plainPassword.first) }}
				</div>
			{% endif %}
		</div>
		<div class="form-group">
			{{ form_label(form.plainPassword.second, 'app.form.label.new_password_confirmation', {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
			<div class="col-md-6 col-sm-6 col-xs-12">
				{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
			</div>

			{% if not form.plainPassword.second.vars.valid %}
				<div class="col-md-3 col-sm-3 col-xs-12 red">
					{{ form_errors(form.plainPassword.second) }}
				</div>
			{% endif %}
		</div>
		<div class="ln_solid"></div>
		<div class="form-group">
			<input type="submit"
				   id="user-change-password-button-action"
				   class="btn btn-success"
				   value="{{ 'app.form.action.save' | trans }}"/>
		</div>
		{{ form_end(form) }}
	</div>
</div>
