{% extends 'layout.html.twig' %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                                <div class="profile_img">
                                    <div id="crop-avatar">
                                        <img class="img-responsive avatar-view"
                                             src="{{ app_user() | profile_image }}"
                                             alt="Avatar"
                                             title="Change the avatar">
                                    </div>
                                </div>
                                <h3>{{ app_user() }}</h3>
                                <ul class="list-unstyled user_data">
                                    <li>
                                        <i class="fa fa-user user-profile-icon"></i>
                                        {{ app_user().username }}
                                    </li>
                                    <li class="m-top-xs">
                                        <i class="fa fa-at user-profile-icon"></i>
                                        {{ app_user().email }}
                                    </li>
                                    {% if  app_user().skype is not empty %}
                                        <li class="m-top-xs">
                                            <i class="fa fa-skype user-profile-icon"></i>:
                                            {{ app_user().skype }}
                                        </li>
                                    {% endif %}
                                </ul>
                                <ul class="list-unstyled user_data">
                                    <li>
                                        <a class="btn btn-primary" href="{{ path('profile_show') }}">
                                            <i class="fa fa-backward"></i>
                                            {{ 'app.menu.profile' | trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="btn btn-warning" href="{{ path('profile_change_password') }}">
                                            <i class="fa fa-edit m-right-xs"></i>
                                            {{ 'app.menu.profile_change_password' | trans }}
                                        </a>
                                    </li>
                                </ul>
                                <br/>
                            </div>

                            <div class="col-md-9 col-sm-9 col-xs-12">

                                {{ form_start(form, { 'action': path('profile_edit'), 'attr': { 'class': 'form-horizontal form-label-left' } }) }}

                                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#tab_content1"
                                               id="home-tab"
                                               role="tab" data-toggle="tab"
                                               aria-expanded="true">
                                                {{ 'app.menu.contact_information' | trans }}
                                            </a>
                                        </li>
                                        <li role="presentation" class="">
                                            <a href="#tab_content2"
                                               role="tab"
                                               id="profile-tab" data-toggle="tab"
                                               aria-expanded="false">
                                                {{ 'app.menu.personal_information' | trans }}
                                            </a>
                                        </li>
                                        <li role="presentation" class="">
                                            <a href="#tab_content3"
                                               role="tab"
                                               id="profile-tab2"
                                               data-toggle="tab"
                                               aria-expanded="false">
                                                {{ 'app.menu.mail_template' | trans }}
                                            </a>
                                        </li>
                                    </ul>
                                    <div id="myTabContent" class="tab-content">
                                        <div role="tabpanel"
                                             class="tab-pane fade active in"
                                             id="tab_content1"
                                             aria-labelledby="home-tab">
                                            <div class="item form-group">
                                                {{ form_label(form.email, 'app.form.label.email', {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'data-inputmask' : "'alias' : 'email'"}}) }}
                                                </div>

                                                {% if not form.email.vars.valid %}
                                                    <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                        {{ form_errors(form.email) }}
                                                    </div>
                                                {% endif %}

                                            </div>
                                            <div class="item form-group">
                                                {{ form_label(form.phone, 'app.form.label.phone', {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'data-inputmask' : "'mask' : '+(*{1,3}) *{1,15}'"}}) }}
                                                </div>

                                                {% if not form.phone.vars.valid %}
                                                    <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                        {{ form_errors(form.phone) }}
                                                    </div>
                                                {% endif %}

                                            </div>
                                            <div class="item form-group">
                                                {{ form_label(form.skype, 'app.form.label.skype', {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    {{ form_widget(form.skype, {'attr': {'class': 'form-control'}}) }}
                                                </div>

                                                {% if not form.skype.vars.valid %}
                                                    <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                        {{ form_errors(form.skype) }}
                                                    </div>
                                                {% endif %}

                                            </div>
                                            <div class="item form-group">
                                                {{ form_label(form.locale, 'app.form.label.system_language', {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    {{ form_widget(form.locale, {'attr': {'class': 'form-control'}}) }}
                                                </div>

                                                {% if not form.locale.vars.valid %}
                                                    <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                        {{ form_errors(form.locale) }}
                                                    </div>
                                                {% endif %}

                                            </div>
                                            <div class="item form-group">
                                                {{ form_label(form.enabledEmailNotification, 'app.form.label.email_motification', {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    {{ form_widget(form.enabledEmailNotification, {'attr': {'class': 'form-control mt-small js-switch'}}) }}
                                                </div>

                                                {% if not form.enabledEmailNotification.vars.valid %}
                                                    <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                        {{ form_errors(form.enabledEmailNotification) }}
                                                    </div>
                                                {% endif %}

                                            </div>
                                            <div class="ln_solid"></div>
                                        </div>

                                        <div role="tabpanel"
                                             class="tab-pane fade"
                                             id="tab_content2"
                                             aria-labelledby="profile-tab">
                                            <div class="item form-group">
                                                {{ form_label(form.username, 'app.form.label.username', {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                                                </div>

                                                {% if not form.username.vars.valid %}
                                                    <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                        {{ form_errors(form.username) }}
                                                    </div>
                                                {% endif %}

                                            </div>
                                            <div class="item form-group">
                                                {{ form_label(form.degreeBefore, 'app.form.label.degree_before', {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    {{ form_widget(form.degreeBefore, {'attr': {'class': 'form-control'}}) }}
                                                </div>

                                                {% if not form.degreeBefore.vars.valid %}
                                                    <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                        {{ form_errors(form.degreeBefore) }}
                                                    </div>
                                                {% endif %}

                                            </div>
                                            <div class="item form-group">
                                                {{ form_label(form.firstName, 'app.form.label.first_name', {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                                                </div>

                                                {% if not form.firstName.vars.valid %}
                                                    <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                        {{ form_errors(form.firstName) }}
                                                    </div>
                                                {% endif %}

                                            </div>
                                            <div class="item form-group">
                                                {{ form_label(form.lastName, 'app.form.label.last_name', {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                                                </div>

                                                {% if not form.lastName.vars.valid %}
                                                    <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                        {{ form_errors(form.lastName) }}
                                                    </div>
                                                {% endif %}

                                            </div>
                                            <div class="item form-group">
                                                {{ form_label(form.degreeAfter, 'app.form.label.degree_after', {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    {{ form_widget(form.degreeAfter, {'attr': {'class': 'form-control'}}) }}
                                                </div>

                                                {% if not form.degreeAfter.vars.valid %}
                                                    <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                        {{ form_errors(form.degreeAfter) }}
                                                    </div>
                                                {% endif %}

                                            </div>
                                        </div>

                                        <div role="tabpanel"
                                             class="tab-pane fade"
                                             id="tab_content3"
                                             aria-labelledby="profile-tab">
                                            <div class="form-group">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    {{ form_label(form.messageGreeting,'app.form.label.message_greeting') }}
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    {{ form_widget(form.messageGreeting, {'attr': {'class': 'form-control'}}) }}
                                                </div>

                                                {% if not form.messageGreeting.vars.valid %}
                                                    <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                        {{ form_errors(form.messageGreeting) }}
                                                    </div>
                                                {% endif %}

                                            </div>
                                            <div class="ln_solid"></div>
                                            <div class="form-group">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    {{ form_label(form.messageSignature,'app.form.label.message_signature') }}
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    {{ form_widget(form.messageSignature, {'attr': {'class': 'form-control'}}) }}
                                                </div>

                                                {% if not form.messageSignature.vars.valid %}
                                                    <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                        {{ form_errors(form.messageSignature) }}
                                                    </div>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="submit"
                                           class="btn btn-success "
                                           value="{{ 'app.form.action.save' | trans() }}"/>
                                </div>

                                {{ form_end(form) }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block javascript %}
    <script>
        $(document).ready(function () {
            let locale = '{{ app.request.locale }}';
            initTinymce(locale);
            initInputMask();
            $("#app_user_profile_locale").select2({width: '100%'});
        });
    </script>
{% endblock %}












