<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
        <div class="x_title">

            {% if event.isOwner(app_user()) %}
                <h2>{{ 'app.text.admin_panel' | trans }}</h2>
            {% else %}
                <h2>{{ 'app.text.fast_access' | trans }}</h2>
            {% endif %}

            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-md-12 col-sm-12 col-xs-12">

                {% if event.isOwner(app_user()) %}
                    {% if event.participant and event.participant.work %}
                        <a class="btn btn-app"
                           data-toggle="modal"
                           data-target="#modalWindow"
                           href="{{ path('task_create', { 'id': event.participant.work.id | hashids_encode, 'taskName': event.start | date('Y-m-d') ~ ' Konzultace' }) }}">
                            <i class="fa fa-tasks"></i>
                            {{ 'app.form.action.task_create' | trans }}
                        </a>
                    {% endif %}

                    <a class="btn btn-app"
                       href="{{ path('event_calendar_manage') }}"
                       target="_blank">
                        <i class="fa fa-calendar"></i>
                        {{ 'app.text.appointment_calendar' | trans }}
                    </a>
                    <a class="btn btn-app"
                       href="{{ path('event_edit', { 'id': event.id | hashids_encode }) }}"
                       data-toggle="modal"
                       data-target="#modalWindow">
                        <i class="fa fa-edit"></i>
                        {{ 'app.form.action.edit' | trans }}
                    </a>

                    {% include 'common_part/ajax_delete.html.twig' with {
                        'modalDataTargetDeleteClass': 'btn btn-app',
                        'modalDataTarget': 'event',
                        'modalDataTargetDeleteText': 'app.form.action.delete' | trans,
                        'modalDataTargetId': event.id,
                        'modalDataTargetName': event.toString,
                    } %}
                {% else %}
                    <a class="btn btn-app"
                       href="{{ path('event_calendar_reservation') }}"
                       target="_blank">
                        <i class="fa fa-calendar"></i>
                        {{ 'app.text.appointment_calendar' | trans }}
                    </a>

                    {% if event.address.skype == false and event.start | date('Y-m-d H:i') > "now" | date('Y-m-d H:i') and switchToSkype %}
                        <a class="btn btn-app"
                           data-toggle="modal"
                           data-target="#event-switch-to-skype-modal-{{ event.id | hashids_encode }}">
                            <i class="fa fa-skype"></i>
                            {{ 'app.text.switch_to_skype' | trans }}
                        </a>
                        <div class="modal fade bs-example-modal-sm"
                             tabindex="-1"
                             role="dialog"
                             id="event-switch-to-skype-modal-{{ event.id | hashids_encode }}"
                             aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button"
                                                class="close"
                                                data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        <h4 class="modal-title">
                                            {{ 'app.text.switch_to_skype' | trans }}
                                            | {{ event }}
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <h4>
                                            {{ 'app.text.are_you_sure_switch_to_skype' | trans }}
                                            ?
                                        </h4>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button"
                                                class="btn btn-default"
                                                data-dismiss="modal">
                                            {{ 'app.form.action.close' | trans }}
                                        </button>

                                        <a class="btn btn-danger"
                                           href="{{ path('event_switch_to_skype', { 'id': event.id | hashids_encode }) }}">
                                            {{ 'app.form.action.switch_to_skype' | trans }}
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}

            </div>
        </div>
    </div>
</div>