<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'analytics/analitics.html.twig' %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% block title %} {{ seo_title() }} {% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('app_security/css') }}
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('build/js/login.js') }}"></script>
    {% endblock %}
</head>
<body class="login">
<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="javascript:"
           class="dropdown-toggle info-number"
           data-toggle="dropdown"
           aria-expanded="false">
            <i class="fa fa-globe"></i>
            <span class="caret"></span>
            <span class="sr-only">{{ 'app.menu.choose_language' | trans }}</span>
        </a>
        <ul class="dropdown-menu dropdown-usermenu" role="menu">
            {% for locale in locales() %}
                <li {% if app.request.locale == locale.code %}aria-checked="true" class="active"
                    {% else %}aria-checked="false"{% endif %} role="menuitem">
                    <a href="{{ path(app.request.get('_route', 'homepage'), app.request.get('_route_params', [])|merge({ _locale: locale.code })) }}">
                        {{ locale.name|capitalize }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
</ul>
{% block content %}
{% endblock content %}
</body>
</html>
