{% extends 'layout.html.twig' %}

{% block content %}
    <div class="right_col" role="main">
        <div>
            <div class="clearfix"></div>

            {% if eventAddresses is defined %}
                <div class="row">
                    <div class="x_panel">
                        <div class="x_title" style="height: auto;">
                            <h2>
                                {{ 'app.page.appointment_address_list' | trans }}
                            </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li class="dropdown">
                                    <a href="#"
                                       class="dropdown-toggle"
                                       data-toggle="dropdown"
                                       role="button"
                                       aria-expanded="false">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="{{ path('event_address_create') }}"
                                               data-toggle="modal"
                                               data-target="#modalWindow">
                                                <i class="fa fa-edit"></i>
                                                {{ 'app.form.action.create' | trans }}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            {% if eventAddresses is not empty %}
                                <table class="table table-striped projects">
                                    <thead>
                                    <tr>
                                        <th>
                                            {{ 'app.text.name' | trans }}
                                        </th>
                                        <th>
                                            {{ 'app.text.street' | trans }}
                                        </th>
                                        <th>
                                            {{ 'app.text.skype' | trans }}</th>
                                        <th style="width: 20%">
                                            {{ 'app.text.options' | trans }}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for eventAddress in eventAddresses %}
                                        <tr id="appointment-address-{{ eventAddress.id | hashids_encode }}"
                                            data-delete-row="appointment-address-{{ eventAddress.id | hashids_encode }}">
                                            <td>
                                                <a target="_blank"
                                                   href="{{ path('event_address_detail', { 'id': eventAddress.id | hashids_encode}) }}">
                                                    {{ eventAddress.name }}
                                                </a>
                                            </td>
                                            <td>
                                                {{ eventAddress.street }}
                                            </td>
                                            <td>
                                                {% include 'other/common_part/button/js-switch.html.twig' with {
                                                    'checked': eventAddress.skype == true,
                                                    'dataSwitchery': 'false',
                                                    'dataTargetUrl': path('event_switch_to_skype', { 'id': eventAddress.id | hashids_encode })
                                                } %}
                                            </td>
                                            <td>
                                                <a class="btn btn-primary btn-xs"
                                                   href="{{ path('event_address_detail', { 'id': eventAddress.id | hashids_encode }) }}"
                                                   target="_blank">
                                                    <i class="fa fa-folder"></i>
                                                    {{ 'app.form.action.show_detail' | trans }}
                                                </a>
                                                <a data-toggle="modal"
                                                   data-target="#modalWindow"
                                                   class="btn btn-warning btn-xs"
                                                   href="{{ path('event_address_edit', { 'id': eventAddress.id | hashids_encode }) }}">
                                                    <i class="fa fa-pencil"></i>
                                                    {{ 'app.form.action.edit' | trans }}
                                                </a>

                                                {% include 'other/common_part/ajax_delete.html.twig' with {
                                                    'modalDataTarget': 'appointment-address',
                                                    'modalDataTargetDeleteText': 'app.form.action.delete' | trans,
                                                    'modalDataTargetId': eventAddress.id,
                                                    'modalDataTargetName': eventAddress.name,
                                                    'modalDataTargetDeleteUrl': path('event_address_delete_ajax', { 'id': eventAddress.id | hashids_encode })
                                                } %}
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            {% else %}
                                {{ 'app.text.no_result' | trans }}
                            {% endif %}

                        </div>
                    </div>
                </div>
                <div class="navigation">
                    {{ knp_pagination_render(eventAddresses) }}
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block javascript %}
    {% include 'other/script/google_map.twig' %}
{% endblock %}



