{% if event.address %}
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    {{ 'finalwork.text.appointment_address' | trans() }}
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <dl class="dl-horizontal">
                    <dt>{{ 'finalwork.text.name' | trans() }}:</dt>
                    <dd>{{ event.address.name }}</dd>

                    {% if event.address.description %}
                        <dt>{{ 'finalwork.text.description' | trans() }}:</dt>
                        <dd> {{ event.address.description|raw }}</dd>
                    {% endif %}

                    {% if event.address.street %}
                        <dt>{{ 'finalwork.text.street' | trans() }}:</dt>
                        <dd> {{ event.address.street }}</dd>
                    {% endif %}
                </dl>
            </div>
        </div>
    </div>
{% endif %}