{% extends 'FinalWorkBundle::layout.html.twig' %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>

            {% if articles is defined %}
                <div class="row">
                    <div class="x_panel">
                        <div class="x_title" style="height: auto;">
                            <h2>{{ 'finalwork.page.article_list' | trans() }} | {{ articleCategory.name }}</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            {% if articles is not empty %}
                                <table class="table table-striped projects">
                                    <thead>
                                    <tr>
                                        <th>{{ 'finalwork.text.name' | trans() }}</th>
                                        <th style="width: 20%">{{ 'finalwork.text.options' | trans() }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for article in articles %}
                                        <tr>
                                            <td>{{ article.title }}</td>
                                            <td>
                                                <a class="btn btn-info btn-xs"
                                                   target="_blank"
                                                   href="{{ path('article_detail', { 'id_category': articleCategory.id | hashids_encode, 'id_article': article.id | hashids_encode }) }}">
                                                    <i class="fa fa-desktop"></i>
                                                    {{ 'finalwork.text.read' | trans() }}
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            {% else %}
                                {{ 'finalwork.text.no_result' | trans() }}
                            {% endif %}

                        </div>
                    </div>
                </div>
                <div class="navigation">
                    {{ knp_pagination_render(articles) }}
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}

