{% stylesheets filter='cssrewrite,scssphp'
    'vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css' %}
    <link rel="stylesheet" href="/compiled{{ asset_url }}"/>
{% endstylesheets %}

<div class="row ajax">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_content">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                        <div class="item form-group">
                            {{ form_label(form.start, 'finalwork.form.label.start', {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    <span class="fa fa-calendar-o form-control-feedback left"
                                          aria-hidden="true">
                                    </span>
                                {{ form_widget(form.start, {'attr': {'class': 'form-control has-feedback-left'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button class="btn btn-success"
                                        id="event_schedule_clone">
                                    <i class="fa fa-refresh fa-spin hide"></i>
                                    {{ 'finalwork.form.action.clonning' | trans() }}
                                </button>
                            </div>
                        </div>
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% javascripts filter='jsqueeze'
    'vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}
    <script src="/compiled{{ asset_url }}"></script>
{% endjavascripts %}

<script>
    var locale = '{{ app.request.locale }}';

    $(document).ready(function () {
        $('#event_schedule_clone_start').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: locale
        });

        createEditContentAjax('#event_schedule_clone');
    });
</script>

