{% extends 'layout.html.twig' %}

{% block content %}
    <div class="right_col" role="main">
        <div class="clearfix"></div>

        {% if groups is defined %}
            <div class="row">
                <div class="x_panel">
                    <div class="x_title" style="height: auto;">
                        <h2>
                            {{ 'app.page.user_group_list' | trans }}
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li class="dropdown">
                                <a href="#"
                                   class="dropdown-toggle"
                                   data-toggle="dropdown"
                                   role="button"
                                   aria-expanded="false">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="{{ path('user_group_create') }}"
                                           data-toggle="modal"
                                           data-target="#modalWindow">
                                            <i class="fa fa-edit"></i>
                                            {{ 'app.form.action.create' | trans }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        {% if groups is not empty %}

                            {% set directionParam = groups.getPaginatorOption('sortDirectionParameterName') %}
                            {% set params = groups.getParams() %}
                            {% set direction = params[directionParam] is defined ? params[directionParam] : null %}

                            <table class="table table-striped projects">
                                <thead>
                                <tr>
                                    <th{% if groups.isSorted('name') %} class="fa fa-sort-{{ direction }}"{% endif %}>
                                        {{ knp_pagination_sortable(groups, 'app.text.name' | trans, 'name') }}
                                    </th>
                                    <th style="width: 20%">{{ 'app.text.options' | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for group in groups %}
                                    <tr data-delete-row="group-{{ group.id | hashids_encode }}">
                                        <td>
                                            {{ group.name }}
                                        </td>
                                        <td>
                                            <a data-toggle="modal"
                                               data-target="#modalWindow"
                                               class="btn btn-warning btn-xs"
                                               href="{{ path('user_group_edit', { 'id': group.id | hashids_encode }) }}">
                                                <i class="fa fa-pencil"></i>
                                                {{ 'app.form.action.edit' | trans }}
                                            </a>

                                            {% include 'other/common_part/ajax_delete.html.twig' with {
                                                'modalDataTarget': 'group',
                                                'modalDataTargetDeleteText': 'app.form.action.delete' | trans,
                                                'modalDataTargetId': group.id,
                                                'modalDataTargetName': group.name,
                                                'modalDataTargetDeleteUrl': path('user_group_delete_ajax', { 'id': group.id | hashids_encode })
                                            } %}
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        {% else %}
                            {{ 'app.text.no_result' | trans }}
                        {% endif %}

                    </div>
                </div>
            </div>
            <div class="navigation">
                {{ knp_pagination_render(groups) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
