{% set deleteIcon = 'fa-trash-o' %}
{% set deleteClass = 'btn btn-danger btn-xs' %}
{% if modalDataTargetDeleteIcon is defined %}
    {% set deleteIcon = modalDataTargetDeleteIcon %}
{% endif %}

{% if modalDataTargetDeleteClass is defined %}
    {% set deleteClass = modalDataTargetDeleteClass %}
{% endif %}

<a data-toggle="modal"
   data-target="#{{ modalDataTarget }}-delete-modal-{{ modalDataTargetId | hashids_encode }}"
   class="{{ deleteClass }}">
    <i class="fa {{ deleteIcon }}"></i>
    {% if modalDataTargetDeleteText is defined %}
        {{ modalDataTargetDeleteText }}
    {% endif %}
</a>
