{% if work.isSupervisor(app_user()) %}
    <a class="btn btn-app"
       id="task-create"
       data-toggle="modal"
       data-target="#modalWindow"
       href="{{ path('task_create', { 'id': work.id | hashids_encode }) }}">
        <i class="fa fa-tasks"></i>
        {{ 'app.form.action.task_create' | trans() }}
    </a>
{% endif %}

 {% if work.authorSupervisor(app_user()) %}
     <a class="btn btn-app"
        id="version-create"
        data-toggle="modal"
        data-target="#modalWindow"
        href="{{ path('version_create', { 'id': work.id | hashids_encode }) }}">
         <i class="fa fa-file-text-o"></i>
         {{ 'app.form.action.add_work_version' | trans() }}
     </a>
 {% endif %}

 {% if work.isSupervisor(app_user()) %}
     <a class="btn btn-app"
        href="{{ path('event_calendar_manage') }}"
        target="_blank">
         <i class="fa fa-calendar"></i>
         {{ 'app.text.appointment_calendar_manage' | trans() }}
     </a>
 {% endif %}

 {% if work.isAuthor(app_user()) %}
     <a class="btn btn-app"
        href="{{ path('event_calendar_reservation') }}"
        target="_blank">
         <i class="fa fa-calendar"></i>
         {{ 'app.text.appointment_calendar' | trans() }}
     </a>
 {% endif %}

{% if  conversation_variation.checker(work, app_user(), work.author) %}
    {% set conversationWithAuthor = work.checkConversation(work.supervisor, work.author) %}
    {% if conversationWithAuthor %}
        <a href="{{ path('conversation_detail', { 'id': conversationWithAuthor.id | hashids_encode }) }}"
           target="_blank"
           class="btn btn-app">
            <i class="fa fa-comments-o"></i>
            {{ 'app.text.conversation' | trans() }}
        </a>
    {% else %}
        <a href="{{ path('conversation_work_create', { 'id_work': work.id | hashids_encode, 'id_user_one': app_user().id | hashids_encode, 'id_user_two': work.author.id | hashids_encode }) }}"
           target="_blank"
           class="btn btn-app">
            <i class="fa fa-comments-o"></i>
            {{ 'app.text.conversation' | trans() }}
        </a>
    {% endif %}
{% endif %}