<div class="row">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                {{ work.author | slice(0,20) }}
                {% include 'common_part/user_online_status.html.twig' with {
                    'user': work.author
                } %}
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link">
                        <i class="fa fa-chevron-down"></i>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content" style="display: none">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="profile_img">
                    <div id="crop-avatar">
                        <img class="img-responsive avatar-view center-margin"
                             src="{{ work.author | profile_image }}"
                             alt="profile image"
                             title="profile image">
                    </div>
                </div>
                <div>
                    <h3>
                        {{ work.author }}
                    </h3>
                    <ul class="list-unstyled user_data">
                        <li>
                            <i class="fa fa-user user-profile-icon"></i>:
                            {{ work.author.username }}
                        </li>
                        <li class="m-top-xs">
                            <i class="fa fa-at user-profile-icon"></i>:
                            <a href="mailto:{{ app_user().email }}">
                                {{ work.author.email }}
                            </a>
                        </li>

                        {% if work.author.phone is not empty %}
                            <li class="m-top-xs">
                                <i class="fa fa-phone user-profile-icon"></i>:
                                {{ work.author.phone }}
                            </li>
                        {% endif %}

                        {% if work.author.skype is not empty %}
                            <li class="m-top-xs">
                                <i class="fa fa-skype user-profile-icon"></i>:
                                {{ work.author.skype }}
                            </li>
                        {% endif %}

                    </ul>
                    <br/>
                    <div class="text-center mtop20">

                        {% if conversation_variation.checker(work, app_user(), work.author) %}
                            {% set conversationWithAuthor = check_work_users_conversation(work, work.supervisor, work.author) %}
                            {% if conversationWithAuthor %}
                                <a href="{{ path('conversation_detail', { 'id': conversationWithAuthor.id | hashids_encode }) }}"
                                   target="_blank"
                                   class="btn btn-sm btn-primary">
                                    <i class="fa fa-comments-o"></i>
                                    {{ 'app.text.conversation' | trans() }}
                                </a>
                            {% else %}
                                <a href="{{ path('conversation_work_create', { 'id_work': work.id | hashids_encode, 'id_user_one': app_user().id | hashids_encode, 'id_user_two': work.author.id | hashids_encode }) }}"
                                   target="_blank"
                                   class="btn btn-sm btn-primary">
                                    <i class="fa fa-comments-o"></i>
                                    {{ 'app.text.conversation' | trans() }}
                                </a>
                            {% endif %}
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>