<div role="tabpanel"
        {% if activeTab == 'task' %}  class="tab-pane fade active in" {% else %} class="tab-pane fade" {% endif %}
     id="tab-task"
     aria-labelledby="home-tab">

    {% if tasks is defined and tasks is not empty %}
        {% set directionParamTask = tasks.getPaginatorOption('sortDirectionParameterName') %}
        {% set paramsTask = tasks.getParams() %}
        {% set directionTask = paramsTask[directionParamTask] is defined ? paramsTask[directionParamTask] : null %}

        <table class="table projects" id="table-task">
            <thead>
            <tr>
                <th{% if tasks.isSorted('task.name') %} class="fa fa-sort-{{ directionTask }}" {% endif %}>
                    {{ knp_pagination_sortable(tasks, 'app.text.name' | trans(), 'task.name', {} ,{'tab':'task', '_fragment':'tabs-area'}) }}
                </th>
                <th{% if tasks.isSorted('task.createdAt') %} class="fa fa-sort-{{ directionTask }}"{% endif %}>
                    {{ knp_pagination_sortable(tasks, 'app.text.date_added' | trans(), 'task.createdAt', {} ,{'tab':'task', '_fragment':'tabs-area'}) }}
                </th>
                <th{% if tasks.isSorted('task.deadline') %} class="fa fa-sort-{{ directionTask }}"{% endif %}
                        data-toggle="tooltip"
                        data-placement="top"
                        data-original-title="{{ 'app.tooltip.task_deadline' | trans() }}">
                    {{ knp_pagination_sortable(tasks, 'app.text.deadline' | trans(), 'task.deadline', {} ,{'tab':'task', '_fragment':'tabs-area'}) }}
                </th>

                {% if work.isSupervisor(app_user()) %}
                    <th {% if tasks.isSorted('task.active') %} class="fa fa-sort-{{ directionTask }}"{% endif %}
                            data-toggle="tooltip"
                            data-placement="top"
                            data-original-title="{{ 'app.tooltip.task_active' | trans() }}">
                        {{ knp_pagination_sortable(tasks, 'app.text.active' | trans(), 'task.active', {} ,{'tab':'task', '_fragment':'tabs-area'}) }}
                    </th>
                    <th{% if tasks.isSorted('task.notifyComplete') %} class="fa fa-sort-{{ directionTask }}"{% endif %}
                            data-toggle="tooltip"
                            data-placement="top"
                            data-original-title="{{ 'app.tooltip.task_back_to_revision_supervisor' | trans() }}">
                        {{ knp_pagination_sortable(tasks, 'app.text.back_to_revision' | trans(), 'task.notifyComplete', {} ,{'tab':'task', '_fragment':'tabs-area'}) }}
                    </th>
                {% endif %}

                {% if work.isAuthor(app_user()) %}
                    <th{% if tasks.isSorted('task.notifyComplete') %} class="fa fa-sort-{{ directionTask }}"{% endif %}
                            data-toggle="tooltip"
                            data-placement="top"
                            data-original-title="{{ 'app.tooltip.task_back_to_revision' | trans() }}">
                        {{ knp_pagination_sortable(tasks, 'app.text.notify_completed' | trans(), 'task.notifyComplete', {} ,{'tab':'task', '_fragment':'tabs-area'}) }}
                    </th>
                {% endif %}

                <th{% if tasks.isSorted('task.complete') %} class="fa fa-sort-{{ directionTask }}"{% endif %}
                        data-toggle="tooltip"
                        data-placement="top"
                        data-original-title="{{ 'app.tooltip.task_complete' | trans() }}">
                    {{ knp_pagination_sortable(tasks, 'app.text.complete' | trans(), 'task.complete', {} ,{'tab':'task', '_fragment':'tabs-area'}) }}
                </th>
                <th style="width: 20%">{{ 'app.text.options' | trans() }}</th>
            </tr>
            </thead>
            <tbody>

            {% for task in tasks %}
                <tr data-delete-row="task-{{ task.id | hashids_encode }}"
                    class="active">
                    <td>
                        {{ task.name }}
                    </td>
                    <td>
                        {{ task.createdAt | date("d.m.Y H:i") }}
                    </td>
                    <td>
                        {% if task.deadline is not empty %}
                            {% if date("U") > task.deadline | date("U") %}
                                <p class="red">
                                    {{ task.deadline | date("d.m.Y") }}
                                </p>
                            {% else %}
                                {{ task.deadline | date("d.m.Y") }}
                            {% endif %}
                        {% endif %}
                    </td>

                    {% if work.isSupervisor(app_user()) %}
                        <td>
                            <input class="js-switch"
                                    {% if task.active %} checked {% endif %}
                                   data-switchery="true"
                                   data-target-type="active"
                                   data-target-url="{{ path('task_change_status_ajax', { 'id_work': work.id | hashids_encode, 'id_task': task.id | hashids_encode, 'type':'active' }) }}"
                                   title=""
                                   type="checkbox">
                        </td>
                        <td>
                            {% if task.notifyComplete and task.complete == false %}
                                <input class="js-switch"
                                        {% if task.notifyComplete == false %} checked {% endif %}
                                       data-switchery="true"
                                       data-target-type="active"
                                       data-target-url="{{ path('task_change_status_ajax', { 'id_work': work.id | hashids_encode, 'id_task': task.id | hashids_encode, 'type':'notify'  }) }}"
                                       title=""
                                       type="checkbox">
                            {% endif %}
                        </td>
                    {% endif %}

                    {% if work.isAuthor(app_user()) %}
                        <td>
                            {% if task.notifyComplete == false and task.complete == false %}
                                <input class="js-switch"
                                        {% if task.notifyComplete %} checked {% endif %}
                                       data-switchery="true"
                                       data-target-type="active"
                                       data-target-url="{{ path('task_notify_complete_ajax', { 'id_work': work.id | hashids_encode, 'id_task': task.id | hashids_encode }) }}"
                                       title=""
                                       type="checkbox">
                            {% endif %}
                        </td>
                    {% endif %}

                    <td>
                        {% if work.isSupervisor(app_user()) %}
                            <input class="js-switch"
                                    {% if task.complete %} checked {% endif %}
                                   data-switchery="true"
                                   data-target-type="complete"
                                   data-target-url="{{ path('task_change_status_ajax', { 'id_work': work.id | hashids_encode, 'id_task': task.id | hashids_encode, 'type': 'complete' }) }}"
                                   title=""
                                   type="checkbox">
                        {% else %}
                            <input class="js-switch"
                                    {% if task.complete %} checked {% endif %}
                                   data-switchery="true"
                                   title=""
                                   disabled="disabled"
                                   type="checkbox">
                        {% endif %}
                    </td>
                    <td>
                        {% if task.description is not empty %}
                            <a class="btn btn-info btn-xs"
                               role="tab"
                               id="heading-task-description-{{ task.id | hashids_encode }}"
                               data-toggle="collapse"
                               data-parent="#accordion-task-descrition-{{ task.id | hashids_encode }}"
                               href="#tab-task-description-{{ task.id | hashids_encode }}"
                               aria-expanded="true"
                               aria-controls="tab-task-description-{{ task.id | hashids_encode }}">
                                <i class="fa fa-desktop"></i>
                                {{ 'app.form.action.show_detail' | trans() }}
                            </a>
                        {% endif %}

                        {% if work.isSupervisor(app_user()) %}
                            <a data-toggle="modal"
                               data-target="#modalWindow"
                               class="btn btn-warning btn-xs"
                               href="{{ path('task_edit', { 'id_work': work.id | hashids_encode, 'id_task': task.id | hashids_encode }) }}">
                                <i class="fa fa-pencil"></i>
                                {{ 'app.form.action.edit' | trans() }}
                            </a>

                            {% include 'common_part/ajax_delete.html.twig' with {
                                'modalDataTarget': 'task',
                                'modalDataTargetDeleteText': 'app.form.action.delete' | trans,
                                'modalDataTargetId': task.id,
                                'modalDataTargetName': task.name,
                                'modalDataTargetDeleteUrl': path('task_delete', { 'id_work': work.id | hashids_encode,  'id_task': task.id | hashids_encode })
                            } %}
                        {% endif %}
                    </td>
                </tr>

                {% if task.description is not empty %}
                    <tr data-delete-row="task-{{ task.id | hashids_encode }}">
                        <td colspan="7" style="border: none !important;">
                            <div id="tab-task-description-{{ task.id | hashids_encode }}"
                                 class="panel-collapse collapse"
                                 aria-labelledby="heading-task-description-{{ task.id | hashids_encode }}"
                                 role="tabpanel">
                                <div class="panel-body text-muted well well-sm no-shadow">
                                    {{ task.description|raw }}
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7" style="border: none !important;">
                    </tr>
                {% endif %}

            {% endfor %}

            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(tasks, null ,{'tab':'task', '_fragment':'tabs-area'}) }}
        </div>
    {% endif %}
</div>