{% extends 'layout.html.twig' %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>
                                {{ title }} -
                                <a href="{{ path('work_detail', { 'id': work.id | hashids_encode }) }}">
                                    {{ work.title }}
                                </a> | {{ work.author }}
                            </h2>
                            <ul class="nav navbar-rul c panel_toolbox">
                                <li>
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">

                                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                                        <div class="item form-group">
                                            {{ form_label(form.name,  'app.form.label.name' , {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                {{ form_widget(form.name, {'attr': {'class': 'form-control'}} ) }}
                                            </div>
                                            {% if not form.name.vars.valid %}
                                                <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                    {{ form_errors(form.name) }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="item form-group">
                                            {{ form_label(form.description,  'app.form.label.description' , {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                {{ form_widget(form.description, {'attr': {'class': 'form-control'}} ) }}
                                            </div>
                                            {% if not form.description.vars.valid %}
                                                <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                    {{ form_errors(form.description) }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="item form-group">
                                            {{ form_label(form.complete, 'app.form.label.complete',
                                                {
                                                    'label_attr':
                                                    {
                                                        'class': 'control-label col-md-3 col-sm-3 col-xs-12',
                                                        'data-toggle': 'tooltip',
                                                        'data-placement': 'top',
                                                        'data-original-title': 'app.tooltip.task_active' | trans()
                                                    }
                                                }
                                            ) }}
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                {{ form_widget(form.complete, {'attr': {'class': 'form-control js-switch'}}) }}
                                            </div>
                                            {% if not form.complete.vars.valid %}
                                                <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                    {{ form_errors(form.complete) }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="item form-group">
                                            {{ form_label(form.active, 'app.form.label.active',
                                                {
                                                    'label_attr':
                                                    {
                                                        'class': 'control-label col-md-3 col-sm-3 col-xs-12',
                                                        'data-toggle': 'tooltip',
                                                        'data-placement': 'top',
                                                        'data-original-title': 'app.tooltip.task_active' | trans()
                                                    }
                                                }
                                            ) }}
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                {{ form_widget(form.active, {'attr': {'class': 'form-control js-switch'}}) }}
                                            </div>
                                            {% if not form.active.vars.valid %}
                                                <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                    {{ form_errors(form.active) }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="item form-group">
                                            {{ form_label(form.deadline, 'app.form.label.deadline',
                                                {
                                                    'label_attr':
                                                    {
                                                        'class': 'control-label col-md-3 col-sm-3 col-xs-12',
                                                        'data-toggle': 'tooltip',
                                                        'data-placement': 'top',
                                                        'data-original-title': 'app.tooltip.task_deadline' | trans()
                                                    }
                                                }
                                            ) }}
                                            <i class="col-md-2 col-sm-2 col-xs-12">
                                                <i class="fa fa-calendar-o form-control-feedback left"
                                                   aria-hidden="true">
                                                </i>
                                                {{ form_widget(form.deadline, {'attr': {'class': 'form-control has-feedback-left'}}) }}
                                            </i>

                                            {% if taskDeadlines is not empty %}
                                                <div class="col-md-2 col-sm-2 col-xs-12">
                                                    <a class="btn btn-warning btn-xs"
                                                       data-target="#deadline-calendar-helper-date"
                                                       data-toggle="modal"
                                                       aria-hidden="true">
                                                        <i class="fa fa-calendar-o"></i>
                                                        {{ 'app.text.deadline' | trans() }}
                                                    </a>
                                                </div>
                                                <div class="modal fade bs-example-modal-sm"
                                                     tabindex="-1"
                                                     role="dialog"
                                                     id="deadline-calendar-helper-date"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog modal-sm">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button"
                                                                        class="close"
                                                                        data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">×</span>
                                                                </button>
                                                                <h4 class="modal-title">
                                                                    {{ 'app.text.term_for_testing' | trans() }}
                                                                </h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <table class="table table-striped projects">
                                                                    <tbody>

                                                                    {% for taskDeadline in taskDeadlines %}
                                                                        <tr>
                                                                            <td>
                                                                                {{ taskDeadline | date('Y-m-d') }}
                                                                            </td>
                                                                            <td>
                                                                                <button type="button"
                                                                                        class="btn btn-primary form-control"
                                                                                        data-dismiss="modal"
                                                                                        onclick="changeCalendarDate('#task_deadline','{{ taskDeadline | date('Y-m-d') }}')">
                                                                                    {{ 'app.form.action.select' | trans() }}
                                                                                </button>
                                                                            </td>
                                                                        </tr>
                                                                    {% endfor %}

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button"
                                                                        class="btn btn-default"
                                                                        data-dismiss="modal">
                                                                    {{ 'app.form.action.close' | trans() }}
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}

                                            {% if not form.deadline.vars.valid %}
                                                <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                    {{ form_errors(form.deadline) }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                <input id="task-button-action"
                                                        type="submit"
                                                       class="btn btn-success"
                                                       value="{{ buttonActionTitle }}"/>
                                            </div>
                                        </div>
                                        {{ form_end(form) }}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        let locale = '{{ app.request.locale }}';

        $(document).ready(function () {
            $('#task_deadline').datetimepicker({
                format: 'YYYY-MM-DD',
                locale: '{{ app.request.locale }}'
            });

            initTinymce(locale);
        });
    </script>
{% endblock %}
