{% extends 'layout.html.twig' %}

 {% block content %}
     <div class="right_col" role="main">
         <div>
             <div class="row">
                 <div class="col-md-12">
                     <div class="x_panel">
                         <div class="x_title">
                             <h2>{{ 'app.page.appointment_calendar' | trans }}</h2>
                             <ul class="nav navbar-right panel_toolbox">
                                 <li>
                                     <a class="collapse-link">
                                         <i class="fa fa-chevron-up"></i>
                                     </a>
                                 </li>
                             </ul>
                             <div class="clearfix"></div>
                         </div>
                         <div class="x_content">
                             <div id="calendar-app" class="fc">
                                 <calendar
                                         locale="{{ app.request.locale }}"
                                         endpoint-event-calendar-events-ajax="{{ path('event_calendar_events_ajax', {'type' : 'reservation'}) }}"
                                 >
                                 </calendar>
                             </div>
                         </div>
                         <div id="reservation-event-modal" class="modal fade">
                             <div class="modal-dialog">
                                 <div class="modal-content">
                                     <div class="modal-header">
                                         <button type="button"
                                                 class="close"
                                                 data-dismiss="modal">
                                             <span aria-hidden="true">×</span>
                                             <span class="sr-only">close</span>
                                         </button>
                                         <h4 id="modal-title" class="modal-title"></h4>
                                     </div>
                                     <div id="modal-work-form">

                                         {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                                         <div class="item form-group">
                                             {{ form_label(form.work,  'app.form.label.work' , {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                             <div class="col-md-9 col-sm-9 col-xs-12">
                                                 {{ form_widget(form.work, {'attr': {'class': 'form-control'}} ) }}
                                             </div>
                                             {% if not form.work.vars.valid %}
                                                 <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                     {{ form_errors(form.work) }}
                                                 </div>
                                             {% endif %}
                                         </div>
                                         {{ form_end(form) }}

                                     </div>
                                     <div class="modal-footer">
                                         <a id="event-reservation"
                                            type="button"
                                            class="btn btn-success"
                                            data-dismiss="modal">
                                             {{ 'app.form.action.reserve' | trans }}
                                         </a>
                                         <a id="event-detail"
                                            class="btn btn-primary"
                                            target="_blank">
                                             {{ 'app.form.action.show_detail' | trans }}
                                         </a>
                                         <button type="button"
                                                 class="btn btn-default"
                                                 data-dismiss="modal">
                                             {{ 'app.form.action.close' | trans }}
                                         </button>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 {% endblock %}

{% block javascript %}
    {{ encore_entry_script_tags('app_vue_calendar_reservation') }}

    <script>
        $(document).ready(function () {
            $('#event_participant_work').select2({width: '100%'});
        });
    </script>
{% endblock %}
