{% extends 'layout.html.twig' %}

 {% block content %}
    <div class="right_col" role="main">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>{{ 'app.page.appointment_calendar' | trans }}</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div id="calendar-app" class="fc">
                                <calendar
                                        locale="{{ app.request.locale }}"
                                        endpoint-event-calendar-edit-ajax="{{ path('event_calendar_edit_ajax', {'id': 'Ynvr2lgdAJ' }) }}"
                                        endpoint-event-calendar-events-ajax="{{ path('event_calendar_events_ajax', {'type' : 'manage'}) }}"
                                        endpoint-event-calendar-create-ajax="{{ path('event_calendar_create_ajax') }}"
                                >
                                </calendar>
                            </div>
                        </div>
                        <div id="create-new-event-modal"
                             class="modal fade"
                             tabindex="-1"
                             role="dialog"
                             aria-labelledby="myModalLabel"
                             aria-hidden="true"
                        >
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button"
                                                class="close"
                                                data-dismiss="modal"
                                                aria-hidden="true">
                                            ×
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div id="testmodal" style="padding: 5px 20px;">

                                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                                            <div class="item form-group">
                                                {{ form_label(form.type,  'app.form.label.type' , {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    {{ form_widget(form.type, {'attr': {'class': 'form-control'}} ) }}
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                {{ form_label(form.name,  'app.form.label.name' , {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}} ) }}
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                {{ form_label(form.address,  'app.form.label.appointment_address' , {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    {{ form_widget(form.address, {'attr': {'class': 'form-control'}} ) }}
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                {{ form_label(form.participant,  'app.form.label.appointment_participant' , {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    {{ form_widget(form.participant, {'attr': {'class': 'form-control'}} ) }}
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                {{ form_label(form.start, 'app.form.label.start', {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <i class="fa fa-calendar-o form-control-feedback left"
                                                       aria-hidden="true">
                                                    </i>
                                                    {{ form_widget(form.start, {'attr': {'class': 'form-control has-feedback-left'}}) }}
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                {{ form_label(form.end, 'app.form.label.end', {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                <span class="fa fa-calendar-o form-control-feedback left"
                                                      aria-hidden="true">
                                                </span>
                                                    {{ form_widget(form.end, {'attr': {'class': 'form-control has-feedback-left'}}) }}
                                                </div>
                                            </div>
                                            {{ form_end(form) }}

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button"
                                                id="event_create"
                                                class="btn btn-primary">
                                            <i id="event_create_load" class="fa fa-refresh fa-spin hide"></i>
                                            {{ 'app.form.action.create' | trans }}
                                        </button>
                                        <button type="button" class="btn btn-default antoclose" data-dismiss="modal">
                                            {{ 'app.form.action.close' | trans }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="event-detail-modal" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button"
                                                class="close"
                                                data-dismiss="modal">
                                            <span aria-hidden="true">×</span>
                                            <span class="sr-only"> {{ 'app.form.action.close' | trans }} </span>
                                        </button>
                                        <h4 id="modal-title" class="modal-title"></h4>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="event-delete"
                                                type="button"
                                                class="btn btn-danger"
                                                data-event-id=""
                                                data-dismiss="modal">
                                            {{ 'app.form.action.delete' | trans }}
                                        </button>

                                        <a id="event-detail"
                                           class="btn btn-primary"
                                           target="_blank">
                                            {{ 'app.form.action.show_detail' | trans }}
                                        </a>
                                        <button type="button"
                                                class="btn btn-default"
                                                data-dismiss="modal">
                                            {{ 'app.form.action.close' | trans }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 {% endblock %}

{% block javascript %}
    {{ encore_entry_script_tags('app_vue_calendar_manage') }}

    <script>
        let locale = '{{ app.request.locale }}';
        let startForm = $('#event_start');
        let endForm = $('#event_end');

        $(document).ready(function () {
            let modalWindow = $('#create-new-event-modal');

            $("#event_type").select2({width: '100%', dropdownParent: modalWindow});
            $("#event_address").select2({width: '100%', dropdownParent: modalWindow});
            $("#event_participant").select2({width: '100%', dropdownParent: modalWindow});
            $('#event_start').datetimepicker({
                format: 'YYYY-MM-DD HH:mm',
                locale: locale
            });
            $('#event_end').datetimepicker({
                format: 'YYYY-MM-DD HH:mm',
                locale: locale
            });
        });
    </script>
{% endblock %}
