{% extends 'layout.html.twig' %}

{% block content %}
    <div class="right_col" role="main">
        <div>

            {% if event is defined %}
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>{{ event }}</h2>
                                <ul class="nav navbar-rul c panel_toolbox">
                                    <li>
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">

                                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                                            <div class="item form-group">
                                                {{ form_label(form.type,  'app.form.label.type' , {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    {{ form_widget(form.type, {'attr': {'class': 'form-control'}} ) }}
                                                </div>
                                                {% if not form.type.vars.valid %}
                                                    <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                        {{ form_errors(form.type) }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="item form-group">
                                                {{ form_label(form.name,  'app.form.label.name' , {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}} ) }}
                                                </div>
                                                {% if not form.name.vars.valid %}
                                                    <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                        {{ form_errors(form.name) }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="item form-group">
                                                {{ form_label(form.address,  'app.form.label.appointment_address' , {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    {{ form_widget(form.address, {'attr': {'class': 'form-control'}} ) }}
                                                </div>
                                                {% if not form.address.vars.valid %}
                                                    <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                        {{ form_errors(form.address) }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="item form-group">
                                                {{ form_label(form.participant,  'app.form.label.appointment_participant' , {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    {{ form_widget(form.participant, {'attr': {'class': 'form-control'}} ) }}
                                                </div>
                                                {% if not form.participant.vars.valid %}
                                                    <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                        {{ form_errors(form.participant) }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="item form-group">
                                                {{ form_label(form.start, 'app.form.label.start', {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                                <div class="col-md-3 col-sm-3 col-xs-12">
                                                    <i class="fa fa-calendar-o form-control-feedback left"
                                                       aria-hidden="true">
                                                    </i>
                                                    {{ form_widget(form.start, {'attr': {'class': 'form-control has-feedback-left'}}) }}
                                                </div>
                                                {% if not form.start.vars.valid %}
                                                    <div class="col-md-6 col-sm-6 col-xs-12 red">
                                                        {{ form_errors(form.start) }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="item form-group">
                                                {{ form_label(form.end, 'app.form.label.end', {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                                <div class="col-md-3 col-sm-3 col-xs-12">
                                                    <i class="fa fa-calendar-o form-control-feedback left"
                                                       aria-hidden="true">
                                                    </i>
                                                    {{ form_widget(form.end, {'attr': {'class': 'form-control has-feedback-left'}}) }}
                                                </div>
                                                {% if not form.end.vars.valid %}
                                                    <div class="col-md-6 col-sm-6 col-xs-12 red">
                                                        {{ form_errors(form.end) }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                    <input type="submit"
                                                           class="btn btn-success"
                                                           value="{{ 'app.form.action.save' | trans }}"/>
                                                </div>
                                            </div>
                                            {{ form_end(form) }}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $("#event_type").select2({width: '100%'});
            $("#event_address").select2({width: '100%'});
            $("#event_participant").select2({width: '100%'});
            $('#event_start').datetimepicker({
                format: 'YYYY-MM-DD HH:mm',
                locale: '{{ app.request.locale }}'
            });
            $('#event_end').datetimepicker({
                format: 'YYYY-MM-DD HH:mm',
                locale: '{{ app.request.locale }}'
            });
        });
    </script>
{% endblock %}
