{% extends 'form_div_layout.html.twig' %}

{%- block choice_widget_options -%}
    {% for group_label, choice in options %}
        {%- if choice is iterable -%}
            <optgroup
                    label="{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}">
                {% set options = choice %}
                {{- block('choice_widget_options') -}}
            </optgroup>
        {%- else -%}
            <option value="{{ choice.value }}"
                    {% if choice.attr %}
                        {% with { attr: choice.attr } %}{{ block('attributes') }}{% endwith %}
                    {% endif %}
                    {% if choice is selectedchoice(value) %} selected="selected"{% endif %}>
                {{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}
            </option>
        {%- endif -%}
    {% endfor %}
{%- endblock choice_widget_options -%}