<div class="modal fade bs-example-modal-sm"
     tabindex="-1"
     role="dialog"
     id="{{ modalDataTarget }}-delete-modal-{{ modalDataTargetId | hashids_encode }}"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">
                    {{ 'app.text.deleting' | trans }} | {{ modalDataTargetName }}
                </h4>
            </div>
            <div class="modal-body">
                <h4>
                    {{ 'app.text.are_you_sure_delete' | trans }}?
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-default"
                        data-dismiss="modal">
                    {{ 'app.form.action.close' | trans }}
                </button>

                {% if modalDataTargetDeleteUrl is not defined and deleteForm is defined and deleteForm %}
                    {{ form_start(deleteForm, {'attr': {'class': 'delete-form-button'}}) }}
                    <button class="btn btn-danger">
                        <i class="fa fa-trash-o"></i>
                        {{ 'app.form.action.delete' | trans }}
                    </button>
                    {{ form_end(deleteForm) }}
                {% elseif modalDataTargetDeleteUrl is defined %}
                    <button
                            data-delete-target-url="{{ modalDataTargetDeleteUrl }}"
                            data-delete-target-row="{{ modalDataTarget }}-{{ modalDataTargetId | hashids_encode }}"
                            type="button"
                            class="btn btn-danger delete-element">
                        <i class="fa fa-refresh fa-spin hide"></i>
                        <i class="fa fa-trash-o"></i>
                        {{ 'app.form.action.delete' | trans }}
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
