{% if event.comment is not empty or event.isOwner(app_user()) or event.start > date('now') %}
    <div class="row">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    {{ 'app.text.comment' | trans }}
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {% if event.comment is not empty %}
                    {% for comment in event.comment %}
                        <p>{{ comment.owner }}</p>
                        <p> {{ comment.createdAt | date('Y-m-d H:i') }}</p>

                        <div class="panel-body text-muted well well-sm no-shadow event-comment">
                            {{ comment | away_to | raw }}
                        </div>
                    {% endfor %}
                {% endif %}

                {% if form.content is defined %}
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">

                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    {{ form_widget(form.content, {'attr': {'class': 'form-control'}} ) }}
                                </div>
                                {% if not form.content.vars.valid %}
                                    <div class="col-md-3 col-sm-3 col-xs-12 red">
                                        {{ form_errors(form.content) }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="submit"
                                           class="btn btn-success"
                                           value="{{ 'app.form.action.save' | trans }}"/>
                                </div>
                            </div>
                            {{ form_end(form) }}

                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}