{% set user = user ?? app_user() %}

{% set conversationMessageUnreadClass = null %}
{% if message.isRead == false %}
    {% set conversationMessageUnreadClass = 'conversation-message-unread' %}
{% endif %}

<div class="{% if message.isOwner(user) %}chat-message-left{% else %}chat-message-right{% endif %}">
    <img class="message-avatar"
         src="{{ message.owner | profile_image }}"
         alt="{{ message.owner }}"
    >
    <div class="{{ conversationMessageUnreadClass }} message">
        <a class="message-author" href="#"> {{ message.owner }} </a>
        <span class="message-date switchery-very-small">
            {{ message.createdAt | date }}

            {% if message.isOwner(user) == false %}
                {% include 'other/common_part/button/js-switch.html.twig' with {
                    'checked': conversationMessageUnreadClass is empty,
                    'dataTargetType': 'complete',
                    'dataTargetUrl': path('conversation_message_change_read_status_ajax', { 'id': message.id | hashids_encode })
                } %}
            {% else %}
                {% set readDate = conversation_message_read_date_recipient(message) %}
                {% if readDate is not empty %}
                    <br>
                    <i class="fa fa-eye"></i>
                    {{ readDate | date }}
                {% endif %}
            {% endif %}
        </span>
        <span class="message-content">{{ message.content | away_to | raw }}</span>
    </div>
</div>
