<div class="col-lg-2">
    <div class="ibox float-e-margins" id="sticky">
        <div class="ibox-content mailbox-content">
            <div class="file-manager">
                <a class="btn btn-block btn-primary compose-mail"
                   href="{{ path('conversation_create') }}">
                    {{ 'app.text.write_message' | trans }}
                </a>
                <div class="space-25"></div>
                <h5></h5>
                <ul class="folder-list m-b-md" style="padding: 0">
                    <li>
                        <a href="">
                            <i class="fa fa-inbox "></i>
                            {{ 'app.text.inbox' | trans }}

                            {% set countUnreadConversationMessage = conversation_message.getTotalUnreadMessagesByUser(app_user()) %}

                            {% set countUnreadConversationMessageClass = 'label-success' %}
                            {% if countUnreadConversationMessage > 0 %}
                                {% set countUnreadConversationMessageClass = 'label-warning' %}
                            {% endif %}
                            <span class="label pull-right {{ countUnreadConversationMessageClass }}">
                                {{ countUnreadConversationMessage }}
                            </span>
                        </a>
                    </li>
                </ul>
                <h5>
                    {{ 'app.text.category' | trans }}
                </h5>
                <ul class="category-list" style="padding: 0">
                    <li>
                        <a href="{{ path('conversation_list') }}">
                            <i class="fa fa-circle text-navy"></i>
                            ***
                        </a>
                    </li>

                    {% for conversationType in conversationTypes %}
                        {% set type = conversationType.constant | lower %}

                        <li>
                            <a href="{{ path('conversation_list', {type: type}) }}">
                                <i class="fa fa-circle message-type-{{ type }}"></i>
                                {{ ('app.text.' ~ type) | trans }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                {% if isUnreadMessages %}
                    <span>
                    {{ 'app.text.change_all_messages_to_read' | trans }}
                    </span>
                    {% include 'other/common_part/button/js-switch.html.twig' with {
                        'dataTargetUrl': path('conversation_message_all_change_to_read_ajax')
                    } %}
                {% endif %}
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
