<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="row ajax">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_content">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                        <div class="item form-group">
                            {{ form_label(form.title,  'app.form.label.title' , {'label_attr': {'class': 'control-label col-md-2 col-sm-2 col-xs-12'}}) }}
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                {{ form_widget(form.title, {'attr': {'class': 'form-control'}} ) }}
                            </div>
                        </div>
                        <div class="item form-group">
                            {{ form_label(form.shortcut,  'app.form.label.shortcut' , {'label_attr': {'class': 'control-label col-md-2 col-sm-2 col-xs-12'}}) }}
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                {{ form_widget(form.shortcut, {'attr': {'class': 'form-control'}} ) }}
                            </div>
                        </div>
                        <div class="item form-group">
                            {{ form_label(form.status, 'app.form.label.status', {'label_attr': {'class': 'control-label col-md-2 col-sm-2 col-xs-12'}}) }}
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="item form-group">
                            {{ form_label(form.type, 'app.form.label.type', {'label_attr': {'class': 'control-label col-md-2 col-sm-2 col-xs-12'}}) }}
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="item form-group">
                            {{ form_label(form.categories, 'app.form.label.category', {'label_attr': {'class': 'control-label col-md-2 col-sm-2 col-xs-12'}}) }}
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                {{ form_widget(form.categories, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="item form-group">
                            {{ form_label(form.author, 'app.form.label.author', {'label_attr': {'class': 'control-label col-md-2 col-sm-2 col-xs-12'}}) }}
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                {{ form_widget(form.author, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="item form-group">
                            {{ form_label(form.opponent, 'app.form.label.opponent', {'label_attr': {'class': 'control-label col-md-2 col-sm-2 col-xs-12'}}) }}
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                {{ form_widget(form.opponent, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="item form-group">
                            {{ form_label(form.consultant, 'app.form.label.consultant', {'label_attr': {'class': 'control-label col-md-2 col-sm-2 col-xs-12'}}) }}
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                {{ form_widget(form.consultant, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="item form-group">
                            {{ form_label(form.deadline, 'app.form.label.deadline', {'label_attr': {'class': 'control-label col-md-2 col-sm-2 col-xs-12'}}) }}
                            <i class="col-md-4 col-sm-4 col-xs-12">
                                <i class="fa fa-calendar-o form-control-feedback left"
                                   aria-hidden="true">
                                </i>
                                {{ form_widget(form.deadline, {'attr': {'class': 'form-control has-feedback-left'}}) }}
                            </i>

                            {% if workDeadlines is not empty %}
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <a class="btn btn-warning btn-xs"
                                       id="show-deadline-calendar-helper-date">
                                        <i class="fa fa-calendar-o"></i>
                                        {{ 'app.text.deadline' | trans() }}
                                    </a>
                                </div>
                                <div class="modal fade bs-example-modal-sm"
                                     id="deadline-calendar-helper-date">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">
                                                    {{ 'app.text.deadline' | trans() }}
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table table-striped projects">
                                                    <tbody>

                                                    {% for workDeadline in workDeadlines %}
                                                        <tr>
                                                            <td>
                                                                {{ workDeadline | date('Y-m-d') }}
                                                            </td>
                                                            <td>
                                                                <button type="button"
                                                                        id="change-deadline-calendar-helper-date"
                                                                        class="btn btn-primary form-control"
                                                                        onclick="changeCalendarDate('#work_deadline', '{{ workDeadline | date('Y-m-d') }}')">
                                                                    {{ 'app.form.action.select' | trans() }}
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                        <div class="item form-group">
                            {{ form_label(form.deadlineProgram, 'app.form.label.program_deadline', {'label_attr': {'class': 'control-label col-md-2 col-sm-2 col-xs-12'}}) }}
                            <i class="col-md-4 col-sm-4 col-xs-12">
                                <i class="fa fa-calendar-o form-control-feedback left"
                                   aria-hidden="true">
                                </i>
                                {{ form_widget(form.deadlineProgram, {'attr': {'class': 'form-control has-feedback-left'}}) }}
                            </i>

                            {% if workProgramDeadlines is not empty %}
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <a class="btn btn-warning btn-xs"
                                       id="show-program-deadline-calendar-helper-date">
                                        <i class="fa fa-calendar-o"></i>
                                        {{ 'app.text.term_for_testing' | trans() }}
                                    </a>
                                </div>
                                <div class="modal fade bs-example-modal-sm"
                                     id="program-deadline-calendar-helper-date">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">
                                                    {{ 'app.text.term_for_testing' | trans() }}
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table table-striped projects">
                                                    <tbody>

                                                    {% for workProgramDeadline in workProgramDeadlines %}
                                                        <tr>
                                                            <td>
                                                                {{ workProgramDeadline | date('Y-m-d') }}
                                                            </td>
                                                            <td>
                                                                <button type="button"
                                                                        class="btn btn-primary form-control"
                                                                        onclick="changeCalendarDate('#work_deadlineProgram','{{ workProgramDeadline | date('Y-m-d') }}')">
                                                                    {{ 'app.form.action.select' | trans() }}
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-2">
                                <button class="btn btn-success"
                                        id="work-button-action">
                                    <i class="fa fa-refresh fa-spin hide"></i>
                                    {{ buttonActionTitle }}
                                </button>
                                <button class="btn btn-primary"
                                        id="work-button-action-close">
                                    <i class="fa fa-refresh fa-spin hide"></i>
                                    {{ buttonActionCloseTitle }}
                                </button>
                            </div>
                        </div>
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var modalWindow = $('#modalWindow');

        $("#work_status").select2({width: '100%', dropdownParent: modalWindow});
        $("#work_type").select2({width: '100%', dropdownParent: modalWindow});
        $("#work_categories").select2({width: '100%', dropdownParent: modalWindow});
        $("#work_author").select2({width: '100%', dropdownParent: modalWindow});
        $("#work_supervisor").select2({width: '100%', dropdownParent: modalWindow});
        $("#work_opponent").select2({width: '100%', dropdownParent: modalWindow});
        $("#work_consultant").select2({width: '100%', dropdownParent: modalWindow});
        $('#work_deadline').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: '{{ app.request.locale }}'
        });
        $('#work_deadlineProgram').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: '{{ app.request.locale }}'
        });

        createEditContentAjax('#work-button-action');
        createEditContentAjax('#work-button-action-close', true);

        $("#show-deadline-calendar-helper-date").click(function () {
            $("#deadline-calendar-helper-date").show();
            $("#deadline-calendar-helper-date").addClass('in');
        });

        $("#show-program-deadline-calendar-helper-date").click(function () {
            $("#program-deadline-calendar-helper-date").show();
            $("#program-deadline-calendar-helper-date").addClass('in');
        });
    });

    function changeCalendarDate(selector, date) {
        $(selector).data("DateTimePicker").date(date);

        $("#deadline-calendar-helper-date").hide();
        $("#deadline-calendar-helper-date").removeClass('in');

        $("#program-deadline-calendar-helper-date").hide();
        $("#program-deadline-calendar-helper-date").removeClass('in');
    }
</script>
