{% extends 'FinalWorkBundle::layout.html.twig' %}

{% block title %} {{ 'finalwork.page.insis_filter' | trans() }} {% endblock %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>{{ 'finalwork.page.insis_filter' | trans() }}</h2>
                            <ul class="nav navbar-rul c panel_toolbox">
                                <li>
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">

                                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                                        <div class="item form-group">
                                            {{ form_label(form.year,  'finalwork.form.label.year' , {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                {{ form_widget(form.year, {'attr': {'class': 'form-control'}} ) }}
                                            </div>

                                            {% if not form.year.vars.valid %}
                                                <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                    {{ form_errors(form.year) }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="item form-group">
                                            {{ form_label(form.type,  'finalwork.form.label.type', {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                {{ form_widget(form.type, {'attr': {'class': 'form-control'}} ) }}
                                            </div>
                                            {% if not form.type.vars.valid %}
                                                <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                    {{ form_errors(form.type) }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                <input type="submit"
                                                       class="btn btn-success"
                                                       value="{{ 'finalwork.form.action.select' | trans() }}"/>
                                            </div>
                                        </div>

                                        {{ form_end(form) }}

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <a class="btn btn-danger"
                                   href="{{ path('insis_logout') }}">
                                    <i class="fa fa-sign-out"></i>
                                    {{ 'finalwork.menu.logout' | trans }}
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

