<div class="col-lg-2">
    <div class="ibox float-e-margins" id="sticky">
        <div class="ibox-content mailbox-content">
            <div class="file-manager">
                <a class="btn btn-block btn-primary compose-mail"
                   href="{{ path('conversation_create') }}">
                    {{ 'finalwork.text.write_message' | trans() }}
                </a>
                <div class="space-25"></div>
                <h5></h5>
                <ul class="folder-list m-b-md" style="padding: 0">
                    <li>
                        <a href="">
                            <i class="fa fa-inbox "></i>
                            {{ 'finalwork.text.inbox' | trans() }}

                            {% set countUnreadConversationMessage = conversation_message.getTotalUnreadMessagesByUser(app.user) %}

                            {% set countUnreadConversationMessageClass = 'label-success' %}
                            {% if countUnreadConversationMessage > 0 %}
                                {% set countUnreadConversationMessageClass = 'label-warning' %}
                            {% endif %}
                            <span class="label pull-right {{ countUnreadConversationMessageClass }}">
                                {{ countUnreadConversationMessage }}
                            </span>
                        </a>
                    </li>
                </ul>
                <h5>
                    {{ 'finalwork.text.category' | trans() }}
                </h5>
                <ul class="category-list" style="padding: 0">
                    <li>
                        <a href="#">
                            <i class="fa fa-circle text-warning"></i>
                            {{ 'finalwork.text.work' | trans() }}
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-circle text-primary"></i>
                            {{ 'finalwork.text.group_mail' | trans() }}
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>