{% extends 'layout.html.twig' %}

{% form_theme form
    'event_schedule/event_schedule_template.twig'
    'event_schedule/jquery.collection.html.twig' %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>
                                {{ 'app.page.event_schedule_create' | trans() }}
                            </h2>
                            <ul class="nav navbar-rul c panel_toolbox">
                                <li>
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">

                                        {{ form_start(form, {'method': 'POST','attr': {'class': 'form-horizontal'}}) }}
                                        <div class="item form-group">
                                            {{ form_label(form.name,  'app.form.label.name' , {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                {{ form_widget(form.name, {'attr': {'class': 'form-control'}} ) }}
                                            </div>
                                            {% if not form.name.vars.valid %}
                                                <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                    {{ form_errors(form.name) }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="item form-group">
                                            {{ form_label(form.description,  'app.form.label.description' , {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                {{ form_widget(form.description, {'attr': {'class': 'form-control'}} ) }}
                                            </div>
                                            {% if not form.description.vars.valid %}
                                                <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                    {{ form_errors(form.description) }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        {{ form_row(form.templates) }}
                                        <div class="form-group">
                                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                <input type="submit"
                                                       class="btn btn-success"
                                                       value="{{ 'app.form.action.create' | trans() }}"/>
                                            </div>
                                        </div>
                                        {{ form_end(form) }}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        var locale = '{{ app.request.locale }}';

        $(document).ready(function () {
            initTinymce(locale);

            $("#event_type").select2({width: '100%'});
            $("#event_address").select2({width: '100%'});
            $("#event_participant").select2({width: '100%'});
            $('#event_start').datetimepicker({
                format: 'YYYY-MM-DD h:mm:ss',
                locale: locale
            });
            $('#event_end').datetimepicker({
                format: 'YYYY-MM-DD h:mm:ss',
                locale: locale
            });
            $('.collection').collection({
                drag_drop: true,
                allow_duplicate: true
            });
        });
    </script>
{% endblock %}
