{% extends 'FinalWorkBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite,scssphp'
        'vendor/switchery/dist/switchery.min.css'
        'vendor/select2/dist/css/select2.min.css' %}
        <link rel="stylesheet" href="/compiled{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>

            {% if documents is defined %}
                <div class="row">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>
                                {{ 'finalwork.text.search_form' | trans() }}
                            </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link">
                                        {% if openSearchTab == false %}
                                            <i class="fa fa-chevron-down"></i>
                                        {% else %}
                                            <i class="fa fa-chevron-up"></i>
                                        {% endif %}
                                    </a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content" {% if openSearchTab == false %} style="display: none;" {% endif %}>

                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                            <div class="item form-group">
                                {{ form_label(form.name,  'finalwork.form.label.name' , {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}} ) }}
                                </div>
                            </div>
                            <div class="item form-group">
                                {{ form_label(form.categories, 'finalwork.form.label.category', {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.categories, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="item form-group">
                                {{ form_label(form.mimeType, 'finalwork.form.label.type', {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.mimeType, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <input type="submit"
                                           class="btn btn-success"
                                           value="{{ 'finalwork.form.action.search' | trans() }}"/>
                                </div>
                            </div>
                            {{ form_end(form) }}

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="x_panel">
                        <div class="x_title" style="height: auto;">
                            <h2>
                                {{ 'finalwork.text.information_materials_list' | trans() }}
                            </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li class="dropdown">
                                    <a href="#"
                                       class="dropdown-toggle"
                                       data-toggle="dropdown"
                                       role="button"
                                       aria-expanded="false">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            {% if is_granted('ROLE_SUPERVISOR') %}
                                                <a href="{{ path('document_create') }}"
                                                   data-toggle="modal"
                                                   data-target="#modalWindow">
                                                    <i class="fa fa-edit"></i>
                                                    {{ 'finalwork.form.action.create' | trans() }}
                                                </a>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-down"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            {% if documents is not empty %}

                                {% set directionParam = documents.getPaginatorOption('sortDirectionParameterName') %}
                                {% set params = documents.getParams() %}
                                {% set direction = params[directionParam] is defined ? params[directionParam] : null %}

                                <table class="table projects">
                                    <thead>
                                    <tr>
                                        <th{% if documents.isSorted('media.name') %} class="fa fa-sort-{{ direction }}"{% endif %}>
                                            {{ knp_pagination_sortable(documents, 'finalwork.text.name' | trans(), 'media.name') }}
                                        </th>
                                        <th>{{ 'finalwork.text.category' | trans() }}</th>
                                        <th{% if documents.isSorted('media.type') %} class="fa fa-sort-{{ direction }}"{% endif %}>
                                            {{ knp_pagination_sortable(documents, 'finalwork.text.type' | trans(), 'media.type') }}
                                        </th>
                                        <th{% if documents.isSorted('media.mediaSize') %} class="fa fa-sort-{{ direction }}" {% endif %}>
                                            {{ knp_pagination_sortable(documents, 'finalwork.text.file_size' | trans(), 'media.mediaSize') }}
                                        </th>
                                        <th{% if documents.isSorted('media.createdAt') %} class="fa fa-sort-{{ direction }}"{% endif %}>
                                            {{ knp_pagination_sortable(documents, 'finalwork.text.date_added' | trans(), 'media.createdAt') }}
                                        </th>
                                        <th{% if documents.isSorted('media.active') %} class="fa fa-sort-{{ direction }}"{% endif %}
                                                data-toggle="tooltip"
                                                data-placement="top"
                                                data-original-title="{{ 'finalwork.tooltip.document_active' | trans() }}">
                                            {{ knp_pagination_sortable(documents, 'finalwork.text.active' | trans(), 'media.active') }}
                                        </th>
                                        <th style="width: 20%">{{ 'finalwork.text.options' | trans() }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for document in documents %}
                                        <tr data-delete-row="document-{{ document.id | hashids_encode }}"
                                            class="active">
                                            <td>
                                                {{ document.name }}
                                            </td>
                                            <td>
                                                {% if document.categories is not empty %}
                                                    <dl>
                                                        <dd>
                                                            <ul class="list-inline prod_size">
                                                                {% for category in document.categories %}
                                                                    <li>
                                                                        <button type="button"
                                                                                class="btn btn-default btn-xs">
                                                                            {{ category.name }}
                                                                        </button>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </dd>
                                                    </dl>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ document.mimeType.extension }}
                                            </td>
                                            <td>
                                                {{ document.getMediaSizeFormatted }}
                                            </td>
                                            <td>
                                                {{ document.createdAt | date("d.m.Y H:i") }}
                                            </td>
                                            <td>
                                                <input class="js-switch"
                                                        {% if  document.active %} checked {% endif %}
                                                       data-switchery="true"
                                                       data-target-type="active"
                                                       data-target-url="{{ path('document_change_active_ajax', { 'id': document.id | hashids_encode }) }}"
                                                       title=""
                                                       type="checkbox">
                                            </td>
                                            <td>

                                                {% if document.description is not empty %}
                                                    <a class="btn btn-info btn-xs"
                                                       role="tab"
                                                       id="heading-document-description-{{ document.id | hashids_encode }}"
                                                       data-toggle="collapse"
                                                       data-parent="#accordion-document-descrition-{{ document.id | hashids_encode }}"
                                                       href="#tab-document-description-{{ document.id | hashids_encode }}"
                                                       aria-expanded="true"
                                                       aria-controls="tab-document-description-{{ document.id | hashids_encode }}">
                                                        <i class="fa fa-desktop"></i>
                                                        {{ 'finalwork.form.action.show_detail' | trans() }}
                                                    </a>
                                                {% endif %}

                                                <a class="btn btn-primary btn-xs"
                                                   role="tab"
                                                   id="heading-content-description-{{ document.id | hashids_encode }}"
                                                   data-toggle="collapse"
                                                   data-parent="#accordion-document-content-{{ document.id | hashids_encode }}"
                                                   href="#tab-document-content-{{ document.id | hashids_encode }}"
                                                   aria-expanded="true"
                                                   aria-controls="tab-document-content-{{ document.id | hashids_encode }}"

                                                        {% if document.existMediaFile and document.mimeType.extension != 'zip' and document.mimeType.extension != 'rar' %}
                                                            {% set frameLink =  absolute_url(path('document_google_download', { 'id': document.id | hashids_encode })) %}
                                                            onclick="showGoogleDocs( '#iframe-document-content-{{ document.id | hashids_encode }}', '{{ frameLink }}')"
                                                        {% endif %}
                                                >
                                                    <i class="fa fa-file-text-o"></i>
                                                    {{ 'finalwork.form.action.show_content' | trans() }}
                                                </a>

                                                {% if document.existMediaFile %}
                                                    <a class="btn btn-success btn-xs"
                                                       href="{{ path('document_download', { 'id': document.id | hashids_encode }) }}">
                                                        <i class="fa fa-download"></i>
                                                        {{ 'finalwork.form.action.download' | trans() }}
                                                    </a>
                                                {% else %}
                                                    <a class="btn btn-success btn-xs">
                                                        <i class="fa fa-download"></i>
                                                        {{ 'finalwork.text.file_not_found' | trans() }}
                                                    </a>
                                                {% endif %}

                                                {% if document.isOwner(app.user) %}
                                                    <a data-toggle="modal"
                                                       data-target="#modalWindow"
                                                       class="btn btn-warning btn-xs"
                                                       href="{{ path('document_edit', { 'id': document.id | hashids_encode }) }}">
                                                        <i class="fa fa-pencil"></i>
                                                        {{ 'finalwork.form.action.edit' | trans() }}
                                                    </a>
                                                    <a data-toggle="modal"
                                                       data-target="#document-delete-modal-{{ document.id | hashids_encode }}"
                                                       class="btn btn-danger btn-xs">
                                                        <i class="fa fa-trash-o"></i>
                                                        {{ 'finalwork.form.action.delete' | trans() }}
                                                    </a>
                                                    <div class="modal fade bs-example-modal-sm"
                                                         tabindex="-1"
                                                         role="dialog"
                                                         id="document-delete-modal-{{ document.id | hashids_encode }}"
                                                         aria-hidden="true">

                                                        <div class="modal-dialog modal-sm">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button"
                                                                            class="close"
                                                                            data-dismiss="modal"
                                                                            aria-label="Close">
                                                                        <span aria-hidden="true">×</span>
                                                                    </button>
                                                                    <h4 class="modal-title">
                                                                        {{ 'finalwork.text.deleting' | trans() }}
                                                                        | {{ document.name }}
                                                                    </h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <h4>
                                                                        {{ 'finalwork.text.are_you_sure_delete' | trans() }}
                                                                        ?
                                                                    </h4>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button"
                                                                            class="btn btn-default"
                                                                            data-dismiss="modal">
                                                                        {{ 'finalwork.form.action.close' | trans() }}
                                                                    </button>
                                                                    <button
                                                                            data-delete-target-url="{{ path('document_delete_ajax', { 'id': document.id | hashids_encode }) }}"
                                                                            data-delete-target-row="document-{{ document.id | hashids_encode }}"
                                                                            type="button"
                                                                            class="btn btn-danger delete-element">
                                                                        <i class="fa fa-refresh fa-spin hide"></i>
                                                                        <i class="fa fa-trash-o"></i>
                                                                        {{ 'finalwork.form.action.delete' | trans() }}
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                            </td>
                                        </tr>

                                        {% if document.description is not empty %}
                                            <tr data-delete-row="document-{{ document.id | hashids_encode }}">
                                                <td colspan="7" style="border: none !important;">
                                                    <div class="panel-collapse collapse"
                                                         id="tab-document-description-{{ document.id | hashids_encode }}"
                                                         role="tabpanel"
                                                         aria-labelledby="heading-document-description-{{ document.id | hashids_encode }}">
                                                        <div class="panel-body text-muted well well-sm no-shadow">
                                                            {{ document.description|raw }}
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="7" style="border: none !important;"></td>
                                            </tr>
                                        {% endif %}

                                        <tr data-delete-row="document-{{ document.id | hashids_encode }}">
                                            <td colspan="7" style="border: none !important;">
                                                <div id="tab-document-content-{{ document.id | hashids_encode }}"
                                                     class="panel-collapse collapse"
                                                     aria-labelledby="heading-document-content-{{ document.id | hashids_encode }}"
                                                     role="tabpanel">
                                                    <div class="panel-body text-muted well well-sm no-shadow">

                                                        {% if  document.existMediaFile %}
                                                            {{ renderServiceMethod('final_work.controller.document', 'detailContentAction', {'media': document}) }}
                                                        {% else %}
                                                            {{ 'finalwork.text.file_not_found' | trans() }}
                                                        {% endif %}

                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                {{ 'finalwork.text.no_result' | trans() }}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="navigation">
                    {{ knp_pagination_render(documents) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='jsqueeze'
        'vendor/switchery/dist/switchery.min.js'
        'vendor/select2/dist/js/select2.full.min.js'
        'vendor/jszip/dist/jszip.js'
        'js/jszip/jszip-utils.js' %}
        <script src="/compiled{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $("#document_search_categories").select2({width: '100%'});
            $("#document_search_mimeType").select2({width: '100%'});
            initAjaxChangeStatus();
            initAjaxDeleteContent();
            $("table").tableFix();
        });
    </script>
{% endblock %}
