{# Media popup template for ckeditor #}
{% extends '@FinalWork/admin/layout_popup.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        button.btn-close-modal {
            display: none;
        }
    </style>
{% endblock %}

{% block sonata_page_content %}a
    <div id="mediaListPopup" tabindex="-1" role="dialog" aria-labelledby="mediaListPopup" aria-hidden="true">
        <div id="media-list-modal" class="">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row form-inline">
                        <div class="col-md-9">
                            <h4 class="modal-title"
                                id="myModalLabel">
                                {{ 'finalwork.admin.section.select_image' | trans }}
                            </h4>
                        </div>
                        <div class="col-md-3 form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </div>
                                <input type="text"
                                       class="form-control input"
                                       id="media-list-search-{{ id }}"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="media-list-body" class="popup-body modal-body m-body-{{ id }}">
                    <img src="{{ asset('bundles/fenix/gfx/spinner-transparent.gif') }}" class="center-block modal-spinner"/>
                    {% include '@FinalWork/admin/script/js_media_search_list.html.twig' with {'id': id } %}
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            getMediaList('{{ id }}');
        });
    </script>
{% endblock %}