<div class="row">
    {% if pagination | length > 0 %}
        <div class="media-list">
            {% for media in pagination %}
                <div class="media-list-item" data-item="{{ media.id }}">
                    <div class="media-list-image" style="height: 65px;">
                        {% if media.webPath is not null %}
                            <img width="100px" src="{{ asset(media.getWebPath) }}?random={{ random() }}"
                                 data-original-src="{{ asset(media.getWebPath) }}"
                                 alt="{{ media.description }}"
                                 title="{{ media.name }}"/>
                        {% endif %}
                    </div>
                    <strong>{{ media.name }}</strong>
                    <div>{{ media.description }}</div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>empty.</p>
    {% endif %}
</div>
<div class="row">
    <hr>
    <div class="row col-md-8 margin-left-20">
        {{ knp_pagination_render(pagination) }}
    </div>
    <div class="col-md-3">
        <button type="button"
                class="btn btn-default pull-right btn-close-modal close-modal-{{ idUnique }}"
                data-target-id="{{ idUnique }}">
            {{ 'finalwork.admin.close' | trans }}
        </button>
    </div>
</div>
{% include '@FinalWork/admin/script/js_pagination_click.html.twig' %}