<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title">
        {{ title }} - {{ work.title }}
    </h4>
</div>
<div class="row ajax">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_content">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                        <div class="item form-group">
                            {{ form_label(form.name,  'app.form.label.name' , {'label_attr': {'class': 'control-label col-md-2 col-sm-2 col-xs-12'}}) }}
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                {{ form_widget(form.name, {'attr': {'class': 'form-control'}} ) }}
                            </div>
                        </div>

                        <div class="item form-group">
                            {{ form_label(form.description,  'app.form.label.description' , {'label_attr': {'class': 'control-label col-md-2 col-sm-2 col-xs-12'}}) }}
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                {{ form_widget(form.description, {'attr': {'class': 'form-control'}} ) }}
                            </div>
                        </div>

                        <div class="item form-group">
                            {{ form_label(form.complete, 'app.form.label.complete',
                                {
                                    'label_attr':
                                    {
                                        'class': 'control-label col-md-2 col-sm-2 col-xs-12',
                                        'data-toggle': 'tooltip',
                                        'data-placement': 'top',
                                        'data-original-title': 'app.tooltip.task_complete' | trans
                                    }
                                }
                            ) }}
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                {{ form_widget(form.complete, {'attr': {'class': 'form-control js-switch'}}) }}
                            </div>
                        </div>

                        <div class="item form-group">
                            {{ form_label(form.active, 'app.form.label.active',
                                {
                                    'label_attr':
                                    {
                                        'class': 'control-label col-md-2 col-sm-2 col-xs-12',
                                        'data-toggle': 'tooltip',
                                        'data-placement': 'top',
                                        'data-original-title': 'app.tooltip.task_active' | trans
                                    }
                                }
                            ) }}
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                {{ form_widget(form.active, {'attr': {'class': 'form-control js-switch'}}) }}
                            </div>
                        </div>

                        <div class="item form-group">
                            {{ form_label(form.deadline, 'app.form.label.deadline',
                                {
                                    'label_attr':
                                    {
                                        'class': 'control-label col-md-2 col-sm-2 col-xs-12',
                                        'data-toggle': 'tooltip',
                                        'data-placement': 'top',
                                        'data-original-title': 'app.tooltip.task_deadline' | trans
                                    }
                                }
                            ) }}
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <i class="fa fa-calendar-o form-control-feedback left"
                                   aria-hidden="true">
                                </i>
                                {{ form_widget(form.deadline, {'attr': {'class': 'form-control has-feedback-left'}}) }}
                            </div>

                            {% if taskDeadlines is not empty %}
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <a class="btn btn-warning btn-xs"
                                       id="show-deadline-calendar-helper-date">
                                        <i class="fa fa-calendar-o"></i>
                                        {{ 'app.text.deadline' | trans }}
                                    </a>
                                </div>
                                <div class="modal fade bs-example-modal-sm"
                                     id="deadline-calendar-helper-date">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">
                                                    {{ 'app.text.term_for_testing' | trans }}
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table table-striped projects">
                                                    <tbody>

                                                    {% for taskDeadline in taskDeadlines %}
                                                        <tr>
                                                            <td>
                                                                {{ taskDeadline | date('Y-m-d') }}
                                                            </td>
                                                            <td>
                                                                <button type="button"
                                                                        class="btn btn-primary form-control"
                                                                        onclick="changeCalendarDate('#task_deadline','{{ taskDeadline | date('Y-m-d') }}')">
                                                                    {{ 'app.form.action.select' | trans }}
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-2">
                                <button id="task-button-action"
                                        class="btn btn-success">
                                    <i class="fa fa-refresh fa-spin hide"></i>
                                    {{ buttonActionTitle }}
                                </button>
                                <button id="task-button-action-close"
                                        class="btn btn-primary">
                                    <i class="fa fa-refresh fa-spin hide"></i>
                                    {{ buttonActionCloseTitle }}
                                </button>
                            </div>
                        </div>
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let locale = '{{ app.request.locale }}';

    $(document).ready(function () {
        $('#task_deadline').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: '{{ app.request.locale }}'
        });

        tinymce.remove();
        initTinymce(locale);
        initTooltip();
        initJsSwitch('.ajax .js-switch');
        createEditContentAjax('#task-button-action');
        createEditContentAjax('#task-button-action-close', true);

        $("#show-deadline-calendar-helper-date").click(function () {
            $("#deadline-calendar-helper-date").show();
            $("#deadline-calendar-helper-date").addClass('in');
        });
    });

    function changeCalendarDate(selector, date) {
        $(selector).data("DateTimePicker").date(date);

        $("#deadline-calendar-helper-date").hide();
        $("#deadline-calendar-helper-date").removeClass('in');
    }
</script>
