{% extends 'application/security/layout.html.twig' %}

{% block content %}
    <div class="login_wrapper">
        <div id="register" class="form">
            <section class="login_content">

                {% for flashError in app.flashes('error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}

                {{ form_start(form, {'attr': {'class': 'fos_user_resetting_request'}} ) }}
                <h1>{{ 'app.form.label.new_password' | trans }}</h1>
                <div>
                    {{ form_label(form.email, 'app.form.label.email') }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'app.form.label.email'}} ) }}
                </div>
                <div>
                    <input class="btn btn-default submit"
                           id="submit"
                           type="submit"
                           value="{{ 'app.form.action.send' | trans }}"
                    />
                    <a class="btn btn-default submit"
                       href="{{ path('security_login') }}">
                        {{ 'app.form.action.login' | trans }}
                    </a>
                </div>
                <div class="clearfix"></div>
                <div class="separator">
                    <div>
                        <h1><i class="fa fa-book"></i>{{ 'app.system_name' | trans({}, 'messages') }}
                        </h1>
                        <p>©{{ "now"|date("Y") }}</p>
                    </div>
                </div>
                {{ form_end(form) }}
            </section>
        </div>
    </div>
{% endblock %}
