{% extends 'layout.html.twig' %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox chat-view">
                        <div class="ibox-title">
                            <small class="pull-right text-muted">
                                {% set lastMessage = conversation.getLastMessage %}
                                {% if lastMessage is not empty %}
                                    {{ 'app.text.date_last_message' | trans() }}: {{ lastMessage.createdAt | date('Y-m-d H:i:s') }}
                                {% endif %}
                            </small>

                            {% if conversation.work %}
                                <a href="{{ path('work_detail', { 'id': conversation.work.id | hashids_encode }) }}"
                                   target="_blank">
                                    {{ conversation }}
                                    <i class="fa fa-book"></i>
                                </a>
                            {% else %}
                                {{ conversation }}
                            {% endif %}

                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-9 ">
                                    <div class="chat-discussion">

                                        {% for message in conversationMessage %}
                                            {% set conversationMessageUnreadClass = null %}
                                            {% if message.isRead == false %}
                                                {% set conversationMessageUnreadClass = 'conversation-message-unread' %}
                                            {% endif %}
                                            <div class="{% if message.owner.id == app_user().id %} chat-message-left {% else %} chat-message-right {% endif %}">
                                                <img class="message-avatar"
                                                     src="{{ message.owner | profile_image }}"
                                                     alt="{{ message.owner }}">
                                                <div class="{{ conversationMessageUnreadClass }} message">
                                                    <a class="message-author" href="#"> {{ message.owner }} </a>
                                                    <span class="message-date">
                                                        {{ message.createdAt | date('Y-m-d H:i:s') }}

                                                        {% if message.isOwner(app_user()) == false %}
                                                            {% if conversationMessageUnreadClass is not empty %}
                                                                <input class="js-switch small"
                                                                       data-switchery="true"
                                                                       data-target-type="complete"
                                                                       data-target-url="{{ path('conversation_message_change_read_status_ajax', { 'id': message.id | hashids_encode }) }}"
                                                                       title=""
                                                                       type="checkbox">
                                                                {% else %}
                                                                <input class="js-switch small"
                                                                       checked
                                                                       data-switchery="true"
                                                                       data-target-type="complete"
                                                                       data-target-url="{{ path('conversation_message_change_read_status_ajax', { 'id': message.id | hashids_encode }) }}"
                                                                       title=""
                                                                       type="checkbox">
                                                            {% endif %}
                                                        {% endif %}

                                                    </span>
                                                    <span class="message-content">{{ message.content | away_to | raw }}</span>
                                                </div>
                                            </div>
                                        {% endfor %}

                                        <div class="navigation">
                                            {{ knp_pagination_render(conversationMessage) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="chat-users">
                                        <div class="users-list">

                                            {% for participant in conversation.participants %}
                                                {% if participant.user.id != app_user().id %}
                                                    <div class="chat-user">
                                                        <img class="chat-avatar"
                                                             src="{{ participant.user | profile_image }}"
                                                             alt="">
                                                        <div class="chat-user-name">
                                                            {{ participant.user }}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% else %}
                                                {% if conversation.isOwner(app_user()) == false %}
                                                    <div class="chat-user">
                                                        <img class="chat-avatar"
                                                             src="{{ conversation.owner | profile_image }}"
                                                             alt="">
                                                        <div class="chat-user-name">
                                                            {{ conversation.owner }}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="chat-message-form">

                                        {% if form is not null %}
                                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                                            <div class="item form-group">
                                                {{ form_widget(form.content, {'attr': {'class': 'form-control'}} ) }}
                                                {% if not form.content.vars.valid %}
                                                    <div class="col-md-12 col-sm-12 col-xs-12 red">
                                                        {{ form_errors(form.content) }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <input type="submit"
                                                       class="btn btn-success"
                                                       value="{{ 'app.form.action.send' | trans() }}"/>
                                            </div>
                                            {{ form_end(form) }}
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        var locale = '{{ app.request.locale }}';

        $(document).ready(function () {
            initTinymce(locale);
        });
    </script>
{% endblock %}

