{% extends 'layout.html.twig' %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>
                                {{ title }}
                            </h2>
                            <ul class="nav navbar-rul c panel_toolbox">
                                <li>
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">

                                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                                        <div class="item form-group">
                                            {{ form_label(form.title,  'app.form.label.title' , {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                {{ form_widget(form.title, {'attr': {'class': 'form-control'}} ) }}
                                            </div>
                                            {% if not form.title.vars.valid %}
                                                <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                    {{ form_errors(form.title) }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="item form-group">
                                            {{ form_label(form.shortcut,  'app.form.label.shortcut' , {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                {{ form_widget(form.shortcut, {'attr': {'class': 'form-control'}} ) }}
                                            </div>
                                            {% if not form.shortcut.vars.valid %}
                                                <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                    {{ form_errors(form.shortcut) }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="item form-group">
                                            {{ form_label(form.status, 'app.form.label.status', {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                            {% if not form.status.vars.valid %}
                                                <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                    {{ form_errors(form.status) }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="item form-group">
                                            {{ form_label(form.type, 'app.form.label.type', {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                            {% if not form.type.vars.valid %}
                                                <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                    {{ form_errors(form.type) }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="item form-group">
                                            {{ form_label(form.categories, 'app.form.label.category', {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                {{ form_widget(form.categories, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                            {% if not form.categories.vars.valid %}
                                                <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                    {{ form_errors(form.categories) }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="item form-group">
                                            {{ form_label(form.author, 'app.form.label.author', {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                {{ form_widget(form.author, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <a class="btn btn-warning btn-xs"
                                                   href="{{ path('user_create') }}"
                                                   data-toggle="modal"
                                                   data-target="#modalWindow">
                                                    <i class="fa fa-user"></i>
                                                    {{ 'app.text.user' | trans() }}
                                                </a>
                                            </div>
                                            {% if not form.author.vars.valid %}
                                                <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                    {{ form_errors(form.author) }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="item form-group">
                                            {{ form_label(form.opponent, 'app.form.label.opponent', {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                {{ form_widget(form.opponent, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                            {% if not form.opponent.vars.valid %}
                                                <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                    {{ form_errors(form.opponent) }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="item form-group">
                                            {{ form_label(form.consultant, 'app.form.label.consultant', {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                {{ form_widget(form.consultant, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                            {% if not form.consultant.vars.valid %}
                                                <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                    {{ form_errors(form.consultant) }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="item form-group">
                                            {{ form_label(form.deadline, 'app.form.label.deadline', {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                            <i class="col-md-2 col-sm-2 col-xs-12">
                                                <i class="fa fa-calendar-o form-control-feedback left"
                                                   aria-hidden="true">
                                                </i>
                                                {{ form_widget(form.deadline, {'attr': {'class': 'form-control has-feedback-left'}}) }}
                                            </i>

                                            {% if workDeadlines is not empty %}
                                                <div class="col-md-2 col-sm-2 col-xs-12">
                                                    <a class="btn btn-warning btn-xs"
                                                       data-target="#deadline-calendar-helper-date"
                                                       data-toggle="modal"
                                                       aria-hidden="true">
                                                        <i class="fa fa-calendar-o"></i>
                                                        {{ 'app.text.deadline' | trans() }}
                                                    </a>
                                                </div>
                                                <div class="modal fade bs-example-modal-sm"
                                                     tabindex="-1"
                                                     role="dialog"
                                                     id="deadline-calendar-helper-date"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog modal-sm">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button"
                                                                        class="close"
                                                                        data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">×</span>
                                                                </button>
                                                                <h4 class="modal-title">
                                                                    {{ 'app.text.deadline' | trans() }}
                                                                </h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <table class="table table-striped projects">
                                                                    <tbody>

                                                                    {% for workDeadline in workDeadlines %}
                                                                        <tr>
                                                                            <td>
                                                                                {{ workDeadline | date('Y-m-d') }}
                                                                            </td>
                                                                            <td>
                                                                                <button type="button"
                                                                                        class="btn btn-primary form-control"
                                                                                        data-dismiss="modal"
                                                                                        onclick="changeCalendarDate('#work_deadline', '{{ workDeadline | date('Y-m-d') }}')">
                                                                                    {{ 'app.form.action.select' | trans() }}
                                                                                </button>
                                                                            </td>
                                                                        </tr>
                                                                    {% endfor %}

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button"
                                                                        class="btn btn-default"
                                                                        data-dismiss="modal">
                                                                    {{ 'app.form.action.close' | trans() }}
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}

                                            {% if not form.deadline.vars.valid %}
                                                <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                    {{ form_errors(form.deadline) }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="item form-group">
                                            {{ form_label(form.deadlineProgram, 'app.form.label.term_for_testing', {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                            <i class="col-md-2 col-sm-2 col-xs-12">
                                                <i class="fa fa-calendar-o form-control-feedback left"
                                                   aria-hidden="true">
                                                </i>
                                                {{ form_widget(form.deadlineProgram, {'attr': {'class': 'form-control has-feedback-left'}}) }}
                                            </i>

                                            {% if workProgramDeadlines is not empty %}
                                                <div class="col-md-2 col-sm-2 col-xs-12">
                                                    <a class="btn btn-warning btn-xs"
                                                       data-target="#program-deadline-calendar-helper-date"
                                                       data-toggle="modal"
                                                       aria-hidden="true">
                                                        <i class="fa fa-calendar-o"></i>
                                                        {{ 'app.text.term_for_testing' | trans() }}
                                                    </a>
                                                </div>
                                                <div class="modal fade bs-example-modal-sm"
                                                     tabindex="-1"
                                                     role="dialog"
                                                     id="program-deadline-calendar-helper-date"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog modal-sm">
                                                        <div class="modal-content">

                                                            <div class="modal-header">
                                                                <button type="button"
                                                                        class="close"
                                                                        data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">×</span>
                                                                </button>
                                                                <h4 class="modal-title">
                                                                    {{ 'app.text.term_for_testing' | trans() }}
                                                                </h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <table class="table table-striped projects">
                                                                    <tbody>

                                                                    {% for workProgramDeadline in workProgramDeadlines %}
                                                                        <tr>
                                                                            <td>
                                                                                {{ workProgramDeadline | date('Y-m-d') }}
                                                                            </td>
                                                                            <td>
                                                                                <button type="button"
                                                                                        class="btn btn-primary form-control"
                                                                                        data-dismiss="modal"
                                                                                        onclick="changeCalendarDate('#work_deadlineProgram','{{ workProgramDeadline | date('Y-m-d') }}')">
                                                                                    {{ 'app.form.action.select' | trans() }}
                                                                                </button>
                                                                            </td>
                                                                        </tr>
                                                                    {% endfor %}

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button"
                                                                        class="btn btn-default"
                                                                        data-dismiss="modal">
                                                                    {{ 'app.form.action.close' | trans() }}
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}

                                            {% if not form.deadlineProgram.vars.valid %}
                                                <div class="col-md-3 col-sm-3 col-xs-12 red">
                                                    {{ form_errors(form.deadlineProgram) }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                <input type="submit"
                                                       class="btn btn-success"
                                                       value="{{ buttonActionTitle }}"/>
                                            </div>
                                        </div>
                                        {{ form_end(form) }}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $("#work_status").select2();
            $("#work_type").select2();
            $("#work_categories").select2();
            $("#work_author").select2();
            $("#work_supervisor").select2();
            $("#work_opponent").select2();
            $("#work_consultant").select2();
            $('#work_deadline').datetimepicker({
                format: 'YYYY-MM-DD',
                locale: '{{ app.request.locale }}'
            });

            $('#work_deadlineProgram').datetimepicker({
                format: 'YYYY-MM-DD',
                locale: '{{ app.request.locale }}'
            });
        });
    </script>
{% endblock %}
