{% extends "@FinalWork/layout.html.twig" %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                                <div class="profile_img">
                                    <div id="crop-avatar">
                                        <!-- Current avatar -->
                                        <img class="img-responsive avatar-view"
                                             src="{{ asset(app.user.getProfileImagePath) }}"
                                             alt="Avatar"
                                             title="Change the avatar">
                                    </div>
                                </div>
                                <h3>{{ app.user }}</h3>
                                <ul class="list-unstyled app.user_data">
                                    <li>
                                        <i class="fa fa-briefcase user-profile-icon"></i>
                                        {{ app.user.username }}
                                    </li>
                                    <li class="m-top-xs">
                                        <i class="fa fa-external-link user-profile-icon"></i>
                                            {{ app.user.email }}
                                    </li>
                                </ul>
                                <ul class="list-unstyled user_data">
                                    <li>
                                        <a class="btn btn-primary" href="{{ path('fos_user_profile_show') }}">
                                            <i class="fa fa-backward"></i>
                                            {{ 'finalwork.menu.profile' | trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="btn btn-primary" href="{{ path('fos_user_profile_edit') }}">
                                            <i class="fa fa-edit m-right-xs"></i>
                                            {{ 'finalwork.menu.profile_edit' | trans }}
                                        </a>
                                    </li>
                                </ul>
                                <br/>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}







