{% extends 'layout.html.twig' %}

{% block content %}
    <div class="right_col" role="main">
        <div>
            <div class="clearfix"></div>

            {% if workCategories is defined %}
                <div class="row">
                    <div class="x_panel">
                        <div class="x_title" style="height: auto;">
                            <h2>
                                {{ 'app.text.work_category_list' | trans }}
                            </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li class="dropdown">
                                    <a href="#"
                                       class="dropdown-toggle"
                                       data-toggle="dropdown"
                                       role="button"
                                       aria-expanded="false">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="{{ path('work_category_create') }}"
                                               data-toggle="modal"
                                               data-target="#modalWindow">
                                                <i class="fa fa-edit"></i>
                                                {{ 'app.form.action.create' | trans }}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            {% if workCategories is not empty %}
                                {% set directionParam = workCategories.getPaginatorOption('sortDirectionParameterName') %}
                                {% set params = workCategories.getParams() %}
                                {% set direction = params[directionParam] is defined ? params[directionParam] : null %}

                                <table class="table table-striped projects">
                                    <thead>
                                    <tr>
                                        <th{% if workCategories.isSorted('work_category.name') %} class="fa fa-sort-{{ direction }}"{% endif %}>
                                            {{ knp_pagination_sortable(workCategories, 'app.text.name' | trans, 'work_category.name') }}
                                        </th>
                                        <th>
                                            {{ 'app.text.work' | trans }}
                                        </th>
                                        <th{% if workCategories.isSorted('work_category.sorting') %} class="fa fa-sort-{{ direction }}"{% endif %}>
                                            {{ knp_pagination_sortable(workCategories, 'app.text.sorting' | trans, 'work_category.sorting') }}
                                        </th>
                                        <th{% if workCategories.isSorted('work_category.createdAt') %} class="fa fa-sort-{{ direction }}"{% endif %}>
                                            {{ knp_pagination_sortable(workCategories, 'app.text.date_added' | trans, 'work_category.createdAt') }}
                                        </th>
                                        <th style="width: 20%">
                                            {{ 'app.text.options' | trans }}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for workCategory in workCategories %}
                                        <tr data-delete-row="work-category-{{ workCategory.id | hashids_encode }}">
                                            <td>
                                                {{ workCategory.name }}
                                            </td>
                                            <td>
                                                {{ workCategory.works | length }}
                                            </td>
                                            <td>
                                                {{ workCategory.sorting }}
                                            </td>
                                            <td>
                                                {{ workCategory.createdAt | date("d.m.Y H:i") }}
                                            </td>
                                            <td>
                                                <a data-toggle="modal"
                                                   data-target="#modalWindow"
                                                   class="btn btn-warning btn-xs"
                                                   href="{{ path('work_category_edit', { 'id': workCategory.id | hashids_encode }) }}">
                                                    <i class="fa fa-pencil"></i>
                                                    {{ 'app.form.action.edit' | trans }}
                                                </a>

                                                {% include 'common_part/ajax_delete.html.twig' with {
                                                    'modalDataTarget': 'work-category',
                                                    'modalDataTargetDeleteText': 'app.form.action.delete' | trans,
                                                    'modalDataTargetId': workCategory.id,
                                                    'modalDataTargetName': workCategory.name,
                                                    'modalDataTargetDeleteUrl': path('work_category_delete_ajax', { 'id': workCategory.id | hashids_encode })
                                                } %}
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            {% else %}
                                {{ 'app.text.no_result' | trans }}
                            {% endif %}

                        </div>
                    </div>
                </div>
                <div class="navigation">
                    {{ knp_pagination_render(workCategories) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(() => {
            $('table').tableFix();
        });
    </script>
{% endblock %}
